<div class="card">
    <div>
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton label=" Add " class="p-button-outlined" icon="pi pi-plus " style="margin-left: 25px;" (click)="openDialog()"></button>
                <button pButton pRipple style="margin-left: 25px;" (click)="deleteAlbum()" type="button" label="Delete" class="p-button-outlined p-button-danger p-mr-2 p-mb-1"></button>
                <!-- <p-button label="Rows" [badge]="" value="badgeLength(albumResponseList)" styleClass="p-ml-3"></p-button> -->

                <i class="pi pi-refresh" (click)=" fetchUsers()" style="font-size: 1rem; color: #4283d4;margin-left: 20px;"></i>

            </ng-template>
        </p-toolbar>

        <p-table #dt1 [value]="albumResponseList" dataKey="id" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [(selection)]="selectedProduct3" styleClass="p-datatable-responsive-demo" editMode="row" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="['albumname','artistname','country','category', 'songid', 'albumcover', 'description']">
            <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" ></button> -->
                    <span class="p-input-icon-left p-ml-auto">
                        <!-- <i class="pi pi-search"></i> -->
                        <!-- <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" /> -->

                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>

                    <th style="width: 3rem">
                        <p-tableRadioButton></p-tableRadioButton>
                    </th>
                    <th>
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Album Name
                            <!-- <p-columnFilter field="albumname" matchMode="in" display="menu" [showMatchModes]="false"
                                [showOperator]="false" [showAddButton]="false"> -->
                            <ng-template pTemplate="header">
                                <div class="p-px-3 p-pt-3 p-pb-0">
                                    <span class="p-text-bold">Album Name</span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name">
                                    <ng-template let-option pTemplate="item">
                                        <div class="p-multiselect-representative-option">
                                            <img [alt]="option.label" src="assets/showcase/images/demo/avatar/{{option.image}}" width="32" style="vertical-align: middle" />
                                            <span class="p-ml-1">{{option.albumname}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                            <!-- </p-columnFilter> -->
                        </div>
                    </th>

                    <th>
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Artist Name
                            <!-- <p-columnFilter field="artistname" matchMode="equals" display="menu"> -->
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" (onChange)="filter($event.value)" placeholder="Any">
                                    <ng-template let-option pTemplate="item">
                                        <span [class]="'customer-badge status-' + option.value">{{option.artistname}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                            <!-- </p-columnFilter> -->
                        </div>
                    </th>


                    <th>
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Country
                            <!-- <p-columnFilter type="text" field="staff" display="menu"></p-columnFilter> -->
                        </div>
                    </th>

                    <th>
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Category
                            <!-- <p-columnFilter type="text" field="staff" display="menu"></p-columnFilter> -->
                        </div>
                    </th>
                    <th>
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Description
                            <!-- <p-columnFilter type="text" field="staff" display="menu"></p-columnFilter> -->
                        </div>
                    </th>

                    <th>
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Song
                            <!-- <p-columnFilter type="text" field="staff" display="menu"></p-columnFilter> -->
                        </div>
                    </th>

                    <th>
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Datecreated
                            <!-- <p-columnFilter type="date" field="datecreated" display="menu"></p-columnFilter> -->
                        </div>
                    </th>
                    <th>

                    </th>

                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-result let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="result" [pSelectableRow]="result">
                    <td>
                        <p-tableRadioButton [value]="result"></p-tableRadioButton>
                    </td>

                    <td>
                        <span class="p-column-title">Album Name</span> {{result.albumname}}
                    </td>

                    <td>
                        <span class="p-column-title">Artist Name</span> {{result.artistname}}
                    </td>



                    <td>
                        <span class="p-column-title">Country</span> {{result.country}}
                    </td>

                    <td>
                        <span class="p-column-title">Category</span> {{result.category}}
                    </td>
                    <td>
                        <span class="p-column-title">Description</span> {{result.description}}
                    </td>
                    <td>
                        <span class="p-column-title">Songid</span> {{result.songid}}
                    </td>



                    <td>
                        <span class="p-column-title">Datecreated</span> {{result.datecreated | date:'dd/MM/yyyy'}}
                    </td>

                    <td>
                        <button pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(result)" class="p-button-rounded p-button-text"></button>
                    </td>

                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="Add Album" [style]="{width: '800px'}" position="top" [(visible)]="display" [modal]="false" showEffect="fade">

    <div style="line-height: 1.5">
        <form [formGroup]="form">
            <div>

                <div class="p-fluid p-formgrid p-grid">

                    <div class="p-field p-col-6">
                        <label for="firstname2">Album Name</label>
                        <input id="firstname2" type="text" class="form-control" formControlName="albumname" pInputText>
                    </div>

                    <div class="p-field p-col-6">
                        <label for="state">Artist Name</label>
                        <span class="p-float-label">
                            <p-dropdown inputId="state" [options]="category" optionLabel="settingname"
                                optionValue="settingname" [autoDisplayFirst]="false" formControlName="category">
                            </p-dropdown>

                        </span>
                    </div>

                    <div class="p-field p-col-6">
                        <label for="state">Category</label>
                        <span class="p-float-label">
                            <p-dropdown inputId="state" optionLabel="settingname" optionValue="settingname"
                                [autoDisplayFirst]="false" formControlName="country">
                            </p-dropdown>

                        </span>
                    </div>

                    <div class="p-field p-col-6">
                        <label for="state">Country</label>
                        <span class="p-float-label">
                            <p-dropdown inputId="state" optionLabel="settingname" optionValue="settingname"
                                [autoDisplayFirst]="false" formControlName="song">
                            </p-dropdown>

                        </span>
                    </div>


                    <div class="p-field-label p-col-12">
                        <label for="float-input">Description</label>
                        <textarea id="float-input" rows="2" cols="10" formControlName="description" pInputTextarea></textarea>
                    </div>
                    <div class="p-col-12">
                        <p-fileUpload name="file" url="./upload.php" (onUpload)="onUpload($event)" accept="image/*">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>


                </div>
            </div>
        </form>
        <p-footer style="float: right;">
            <button pButton pRipple type="submit" (click)="addAlbum()" icon="pi pi-plus" [disabled]="!form.valid" label="Save" class="p-button-text"></button>
        </p-footer>
    </div>
</p-dialog>