<div class="p-grid p-mt-2">
    <div class="p-lg-2 p-md-2 p-col-6 point" routerLink="/home/explores-pop">
        <div class="container">
            <img src="assets/images/pop1.jpg" alt="Snow" style="width:110%;">
            <div class="centered">#POP</div>
        </div>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 point" routerLink="/home/explores-pop">
        <div class="container">
            <img src="assets/images/guitar.jpg" alt="Snow" style="width:110%;">
            <div class="centered">#ROCK</div>
        </div>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point" routerLink="/home/explores-pop">
        <div class="container">
            <img src="assets/images/reg.jpg" alt="Snow" style="width:110%;">
            <div class="centered">#ELECTRONIC</div>
        </div>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point" routerLink="/home/explores-pop">
        <div class="container">
            <img src="assets/images/head.jpg" alt="Snow" style="width:110%;">
            <div class="centered">#HIPHOP</div>
        </div>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point" routerLink="/home/explores-pop">
        <div class="container">
            <img src="assets/images/jazz.jpg" alt="Snow" style="width:109%;">
            <div class="centered">#JAZZ</div>
        </div>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point" routerLink="/home/explores-pop">
        <div class="container">
            <img src="assets/images/insidejpg.jpg" alt="Snow" style="width:109%;">
            <div class="centered">#INSIDE</div>
        </div>
    </div>
</div>




<div class="p-grid p-mt-2">
    <div class="p-lg-2 p-md-2 p-col-6 point" routerLink="/home/explores-pop">
        <div class="container">
            <img src="assets/images/pop1.jpg" alt="Snow" style="width:110%;">
            <div class="centered">#POP</div>
        </div>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 point" routerLink="/home/explores-pop">
        <div class="container">
            <img src="assets/images/guitar.jpg" alt="Snow" style="width:110%;">
            <div class="centered">#ROCK</div>
        </div>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point" routerLink="/home/explores-pop">
        <div class="container">
            <img src="assets/images/reg.jpg" alt="Snow" style="width:110%;">
            <div class="centered">#ELECTRONIC</div>
        </div>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point" routerLink="/home/explores-pop">
        <div class="container">
            <img src="assets/images/head.jpg" alt="Snow" style="width:110%;">
            <div class="centered">#HIPHOP</div>
        </div>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point" routerLink="/home/explores-pop">
        <div class="container">
            <img src="assets/images/jazz.jpg" alt="Snow" style="width:109%;">
            <div class="centered">#JAZZ</div>
        </div>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point" routerLink="/home/explores-pop">
        <div class="container">
            <img src="assets/images/insidejpg.jpg" alt="Snow" style="width:109%;">
            <div class="centered">#INSIDE</div>
        </div>
    </div>
</div>




<div class="p-grid p-mt-2">
    <div class="p-lg-2 p-md-2 p-col-6 point" routerLink="/home/explores-pop">
        <div class="container">
            <img src="assets/images/pop1.jpg" alt="Snow" style="width:110%;">
            <div class="centered">#POP</div>
        </div>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 point" routerLink="/home/explores-pop">
        <div class="container">
            <img src="assets/images/guitar.jpg" alt="Snow" style="width:110%;">
            <div class="centered">#ROCK</div>
        </div>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point" routerLink="/home/explores-pop">
        <div class="container">
            <img src="assets/images/reg.jpg" alt="Snow" style="width:110%;">
            <div class="centered">#ELECTRONIC</div>
        </div>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point" routerLink="/home/explores-pop">
        <div class="container">
            <img src="assets/images/head.jpg" alt="Snow" style="width:110%;">
            <div class="centered">#HIPHOP</div>
        </div>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point" routerLink="/home/explores-pop">
        <div class="container">
            <img src="assets/images/jazz.jpg" alt="Snow" style="width:109%;">
            <div class="centered">#JAZZ</div>
        </div>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point" routerLink="/home/explores-pop">
        <div class="container">
            <img src="assets/images/insidejpg.jpg" alt="Snow" style="width:109%;">
            <div class="centered">#INSIDE</div>
        </div>
    </div>
</div>