<div class="p-fliud">
    <div class="p-grid">
        <div class="p-col-12">
            <div style="margin-left: 5px; margin-bottom: -40px;">
                <h6 style="margin-bottom: -5px;">Explore independent music and artists</h6>
                <p>Dig Deeper - join us on an adventure!</p>
            </div>

        </div>
        <!-- <div class="p-col-12">
        
    </div> --> 

        <div class="p-col-12 p-md-4">
            <a href="">
                <div class="card">
                    <h5 class="head"
                        style="text-align: center; color: whitesmoke;text-decoration: underline; margin-top: 150px;">
                        Search For Music</h5>
                </div>
            </a>

            <!-- <img src="https://wallpapercave.com/wp/wp3758788.jpg" alt=""> -->

        </div>
        <!-- <div class="p-col-12 p-md-4"> -->
            <!-- <img src="https://wallpapercave.com/wp/wp4035872.jpg" alt=""> -->
            <!-- <a href="">
                <div class="card" id="play">
                    <h6 class="head"
                        style="text-align: center; color: whitesmoke;text-decoration: underline;">
                        Playlist</h6>
                </div>
            </a>

 
        </div> -->
        <div class="p-col-12 p-md-4">
            <!-- <img src="https://wallpapercave.com/wp/wp4035874.jpg" alt=""> -->
            <a href="">
                <div class="card" id="play">
                    <h5 class="head"
                        style="text-align: center; color: whitesmoke;text-decoration: underline; margin-top: 150px;">
                        Playlist</h5>
                </div>
            </a>

        </div>
        
        <div class="p-col-12 p-md-4">
            <!-- <img src="https://wallpapercave.com/wp/wp4035874.jpg" alt=""> -->
            <a href="">
                <div class="card" id="list">
                    <h5 class="head"
                        style="text-align: center; color: whitesmoke;text-decoration: underline; margin-top: 150px;">
                        Spolight</h5>
                </div>
            </a>

        </div>
    </div>
</div>