<div class="p-lg-12 p-col-12">
    <img src="assets/images/best.jpg" style="width: 100%; height: 350px; margin-left: 40px; ">
</div>
<div style="margin-top: 40px; margin-left: 50px; ;" class="p-col-12">
    <h4 style="font-size: 50px">Best Of Jamendo Music</h4>
</div>
<Span style="margin-left: 57px;">
    <p-avatar pTooltip="play" tooltipPosition="bottom" icon="pi pi-play" styleClass="p-mr-2" size="large"
        [style]="{'background-color':'#ff2847', 'color': '#ffffff'}" shape="circle"></p-avatar>
    <p-avatar pTooltip="share" tooltipPosition="bottom" icon="pi pi-share-alt" styleClass="p-mr-2" size="large"
        shape="circle"></p-avatar>
</Span>

<h4 style="margin-left: 40px; margin-top: 30px; color: #999;">ABOUT THE RADIOS</h4>
<div style="margin-left: 40px; margin-top: 30px; font: 1.5em sans-serif;" class="p-col-12">
    <p style="font-family: 'Old Standard TT', serif; color: #999">
        Ladies and gentlemen, this is the best of <br />
        the best, the cream of the crop, the <br />
        finest gems on Jamendo Music! This <br />
        radio channel is an overview of the <br />
        most memorable songs in the history of <br>
        the platform. Start listening and prepare <br>
        to be amazed!
    </p>
</div>


 
  
  
    
   

