<div class="p-grid">
    <div class="p-col-12 p-md-8">
        <h1 class="tracks">MY FAVORITE TRACKS</h1>
        <div class="section-tertiary as-incentive p-mt-2">
            <div class="s_wrap">
                <div class="s__glyph">
                    <div class="glyph">
                        <i class="icon pi pi-heart"></i>
                    </div>
                </div>
                <div class="s__content">
                    <div class="heading">
                        larryboy doesn't have any favourite track yet
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <h1 class="tracks">MY PLAYLISTS</h1>
            <div class="section-tertiary as-incentive p-mt-2">
                <div class="s_wrap">
                    <div class="s__glyph">
                        <div class="glyph">
                            <i class="icon pi pi-play"></i>
                        </div>
                    </div>
                    <div class="s__content">
                        <div class="heading">
                            larryboy hasn't created any playlists yet
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <h1 class="tracks">MY FAVORITE ARTISTS</h1>
            <div class="section-tertiary as-incentive p-mt-2">
                <div class="s_wrap">
                    <div class="s__glyph">
                        <div class="glyph">
                            <i class="icon pi pi-users"></i>
                        </div>
                    </div>
                    <div class="s__content">
                        <div class="heading">
                            larryboy is not following any artists yet
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <h1 class="tracks">MY FAVORITE ALBUMS</h1>
            <div class="section-tertiary as-incentive p-mt-2">
                <div class="s_wrap">
                    <div class="s__glyph">
                        <div class="glyph">
                            <i class="icon pi pi-heart"></i>
                        </div>
                    </div>
                    <div class="s__content">
                        <div class="heading">
                            larryboy doesn't have any favourite albums yet
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <h1 class="tracks">LARRYBOY'S BIOGRAPHY</h1>
        <div class="section-tertiary as-incentive p-mt-2">
            <div class="s_wrap">
                <div class="s__glyph">
                    <div class="glyph">
                        <i class="icon pi pi-pencil"></i>
                    </div>
                </div>
                <div class="s__content">
                    <div class="headings">
                        larryboy doesn't have any favourite albums yet
                    </div>
                </div>
            </div>
        </div>

        <div class="p-float-label p-mt-4">
            <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="value8"
                optionLabel="name" placeholder="Latest Comments"></p-dropdown>
        </div>

        <div class="pii">
            <i class="pi pi-comments" style="font-size: 5rem"></i>
            <p class="comment">No comments yet... Be the first!</p>
        </div>
    </div>
</div>