<div class="card">
    <div style="height: 50px;">
         <h5>Music for Video</h5>
    </div>
   
    <div>
        <div class="p-grid">
            <div class="p-col-6">
                <div class="p-d-flex p-ai-center p-py-3">
                    <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                        <i class="pi pi-play" pTooltip="Play" tooltipPosition="bottom"></i>
                        <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                            width="50px">
                        <div style="margin-left: 10px;">
                            <div>
                                <h6>Latinas feat. Vince Miranda -</h6>
                            </div>
                            <small class="muted-text">ALFONSO LUGO</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-5">
                <div class="p-d-flex p-jc-end p-p-3 ">
                     <button pButton pRipple type="button" label="USE IN MY VIDEO" class="btn5"></button>
                </div>
               
            </div>
        </div>
        <!-- <p-divider></p-divider> -->
        <div class="p-grid">
            <div class="p-col-6">
                <div class="p-d-flex p-ai-center p-py-3">
                    <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                        <i class="pi pi-play" pTooltip="Play" tooltipPosition="bottom"></i>
                        <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                            width="50px">
                        <div style="margin-left: 10px;">
                            <div>
                                <h6>Latinas feat. Vince Miranda -</h6>
                            </div>
                            <small class="muted-text">ALFONSO LUGO</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-5">
                <div class="p-d-flex p-jc-end p-p-3 ">
                     <button pButton pRipple type="button" label="USE IN MY VIDEO" class="btn5"></button>
                </div>
               
            </div>
        </div>
        <!-- <p-divider></p-divider> -->
        <div class="p-grid">
            <div class="p-col-6">
                <div class="p-d-flex p-ai-center p-py-3">
                    <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                        <i class="pi pi-play" pTooltip="Play" tooltipPosition="bottom"></i>
                        <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                            width="50px">
                        <div style="margin-left: 10px;">
                            <div>
                                <h6>Latinas feat. Vince Miranda -</h6>
                            </div>
                            <small class="muted-text">ALFONSO LUGO</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-5">
                <div class="p-d-flex p-jc-end p-p-3 ">
                     <button pButton pRipple type="button" label="USE IN MY VIDEO" class="btn5"></button>
                </div>
               
            </div>
        </div>
        <!-- <p-divider></p-divider> -->
        <div class="p-grid">
            <div class="p-col-6">
                <div class="p-d-flex p-ai-center p-py-3">
                    <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                        <i class="pi pi-play" pTooltip="Play" tooltipPosition="bottom"></i>
                        <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                            width="50px">
                        <div style="margin-left: 10px;">
                            <div>
                                <h6>Latinas feat. Vince Miranda -</h6>
                            </div>
                            <small class="muted-text">ALFONSO LUGO</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-5">
                <div class="p-d-flex p-jc-end p-p-3 ">
                     <button pButton pRipple type="button" label="USE IN MY VIDEO" class="btn5"></button>
                </div>
               
            </div>
        </div>
        <!-- <p-divider></p-divider> -->
        <div class="p-grid">
            <div class="p-col-6">
                <div class="p-d-flex p-ai-center p-py-3">
                    <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                        <i class="pi pi-play" pTooltip="Play" tooltipPosition="bottom"></i>
                        <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                            width="50px">
                        <div style="margin-left: 10px;">
                            <div>
                                <h6>Latinas feat. Vince Miranda -</h6>
                            </div>
                            <small class="muted-text">ALFONSO LUGO</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-5">
                <div class="p-d-flex p-jc-end p-p-3 ">
                     <button pButton pRipple type="button" label="USE IN MY VIDEO" class="btn5"></button>
                </div>
               
            </div>
        </div>
    </div>
</div>