<div class="p-fliud">
    <div class="p-grid">
        <div class="p-col-12">
            <div style="margin-left: 25px; margin-bottom: -40px;">
                <h6 style="margin-bottom: -5px;">Explore independent music and artists</h6>
                <p>Dig Deeper - join us on an adventure!</p>
            </div>
        </div>
        <!-- <div class="p-col-12 p-md-2">
          <div>
              <img src="assets/images/best1.jpg" alt="">
              <h5 class="best" id="best">BEST OF JAMENDO MUSIC</h5>
          </div> -->
    </div>
    <div class="p-col-12 p-md-4">
        <div class="card">
            <h6>
                <span class="tests">BEST OF JAMENDO MUSIC</span>
            </h6>
        </div>


        <!-- <img src="https://wallpapercave.com/wp/wp3758788.jpg" alt=""> -->

    </div>
</div>