<div class="container-fluid">
    <p-tabView>
        <p-tabPanel header="Overview">
            <app-exploress></app-exploress>
        </p-tabPanel>
        <p-tabPanel header="#Communities">
            <app-communities></app-communities>
        </p-tabPanel>
        <p-tabPanel header="Playlists">
            <app-explore-playlist></app-explore-playlist>
        </p-tabPanel>
        <p-tabPanel header="Latest Release">
            <app-latest></app-latest>
        </p-tabPanel>
    </p-tabView>
</div>