<div class="p-grid" style="margin-top: 20px; width: 100%;">
    <div class="p-lg-3 p-col-6  ">
        <div class="container">
            <a routerLink="/home/best">
                <img src="assets/images/best1.jpg" style="width: 100%;">
                <div class="centered">BEST OF JAMENDO <br> MUSIC</div>
            </a>
        </div>
    </div>
    <div class="p-col-6 p-lg-3">
        <div class="container">
            <a routerLink="/home/pop">
                <img src="assets/images/pop.jpg" style="width: 100%;">
                <div class="centered">POP</div>
            </a>
        </div>
    </div>
    <div class="p-col-6 p-lg-3">
        <div class="container ">
            <a routerLink="/home/pop">
                <img src="assets/images/radio.jpg" style="width: 100%;">
                <div class="centered">ROCK</div>
            </a>
        </div>

    </div>
    <div class="p-col-6 p-lg-3">
        <div class="container">
            <a routerLink="/home/pop">
                <img src="assets/images/read.jpg" style="width: 100%;">
                <div class="centered">ELECTRONICS</div>
            </a>
        </div>

    </div>

</div>

<div class="p-grid" style="margin-top: 20px; width: 100%;">
    <div class="p-lg-3 p-col-6  ">
        <div class="container">
            <a routerLink="/home/pop">
                <img src="assets/images/hip.jpg" style="width: 100%; ">
                <div class="centered">HIPHOP</div>
            </a>
        </div>
    </div>
    <div class="p-col-6 p-lg-3">
        <div class="container">
            <a routerLink="/home/pop">
                <img src="assets/images/indie.jpg" style="width: 100%;">
                <div class="centered">INDIE</div>
            </a>
        </div>
    </div>
    <div class="p-col-6 p-lg-3">
        <div class="container ">
            <a routerLink="/home/pop">
                <img src="assets/images/jazz.jpg" style="width: 100%;">
                <div class="centered">INDIE</div>
            </a>
        </div>

    </div>
    <div class="p-col-6 p-lg-3">
        <div class="container">
            <a routerLink="/home/pop">
                <img src="assets/images/classical.jpg" style="width: 100%;">
                <div class="centered">ELECTRONICS</div>
            </a>
        </div>

    </div>

</div>

<div class="p-grid" style="margin-top: 20px; width: 100%;">
    <div class="p-lg-3 p-col-6  ">
        <div class="container">
            <a routerLink="/home/pop">
                <img src="assets/images/folk.jpg" style="width: 100%; ">
                <div class="centered">FOLK</div>
            </a>
        </div>
    </div>
    <div class="p-col-6 p-lg-3">
        <div class="container">
            <a routerLink="/home/pop">
                <img src="assets/images/lounge.jpg" style="width: 100%;">
                <div class="centered">LOUNGE</div>
            </a>
        </div>
    </div>
    <div class="p-col-6 p-lg-3">
        <div class="container ">
            <a routerLink="/home/pop">
                <img src="assets/images/country.jpg" style="width: 100%;">
                <div class="centered">COUNTRY</div>
            </a>
        </div>

    </div>
    <div class="p-col-6 p-lg-3">
        <div class="container">
            <a routerLink="/home/pop">
                <img src="assets/images/relaxation.jpg" style="width: 100%;">
                <div class="centered">RELAXATION</div>
            </a>
        </div>

    </div>

</div>

<div class="p-grid" style="margin-top: 20px; width: 100%;">
    <div class="p-lg-3 p-col-6  ">
        <div class="container">
            <a routerLink="/home/pop">
                <img src="assets/images/metal.jpg" style="width: 100%; ">
                <div class="centered">METAL</div>
            </a>
        </div>
    </div>
    <div class="p-col-6 p-lg-3">
        <div class="container">
            <a routerLink="/home/pop">
                <img src="assets/images/piano.jpg" style="width: 100%;">
                <div class="centered">PIANO</div>
            </a>
        </div>
    </div>
    <div class="p-col-6 p-lg-3">
        <div class="container ">
            <a routerLink="/home/pop">
                <img src="assets/images/happy.jpg" style="width: 100%;">
                <div class="centered">HAPPY</div>
            </a>
        </div>
    </div>
    <div class="p-col-6 p-lg-3">
    </div>
</div>