<div class="stream">
    <div class="p-grid">
        <div class="p-col-12">
            <h6 class="p-ml-2">FREE STREAMING / FREE DOWNLOAD</h6>
        </div>
        <div class="p-col-12 p-md-12 p-ml-2">
            <div class="p-d-flex p-flex-wrap">
                <div class="p-mr-2 p-mb-2">
                    <p-dropdown [options]="assetStatus" optionLabel="label" optionValue="value" placeholder="BEST OF"
                        id="drop"></p-dropdown>
                </div>
                <div class="p-mr-2 p-mb-2">
                    <p-dropdown [options]="assetStatus" optionLabel="label" optionValue="value" placeholder="ALL GENRES"
                        id="drop"></p-dropdown>
                </div>
                <div class="p-mr-2 p-mb-2">
                    <p-dropdown [options]="assetStatus" optionLabel="label" optionValue="value"
                        placeholder="ALL COUNTRIES" id="drop"></p-dropdown>
                </div>
            </div>

        </div>
    </div>
    <div class="spin">
        <div id="play" routerLink="/home/stream-music">
            <div class="p-grid">
                <div class="p-col-6">
                    <div style="display: inline;">
                        <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                            <!-- <i class="pi pi-play" pTooltip="Play" tooltipPosition="bottom"></i> -->
                            <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                                width="50px">
                            <div style="margin-left: 10px;">
                                <div>
                                    <h6>Latinas feat. Vince Miranda -</h6>
                                </div>
                                <small class="muted-text">ALFONSO LUGO</small>
                                <p class="feats p-d-sm-none">Features</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-5">
                    <div class="p-d-flex p-jc-end p-p-3 ">
                        <p class="feat  p-d-none p-d-sm-inline-flex">Features</p>
                        <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-text "
                            id="music"></button>
                        <button pButton pRipple type="button" icon="pi pi-share-alt"
                            class="p-button-rounded p-button-text" id="music"></button>
                        <button pButton pRipple type="button" icon="pi pi-plus "
                            class="p-button-rounded  p-button-text " id="music"></button>
                        <button pButton pRipple type="button" icon="pi pi-download "
                            class="p-button-rounded  p-button-text " id="music"></button>
                    </div>

                </div>
            </div>

        </div>
        <p-divider></p-divider>
        <div id="play">
            <div class="p-grid">
                <div class="p-col-6">
                    <div style="display: inline;">
                        <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                            <!-- <i class="pi pi-play" pTooltip="Play" tooltipPosition="bottom"></i> -->
                            <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                                width="50px">
                            <div style="margin-left: 10px;">
                                <div>
                                    <h6>Latinas feat. Vince Miranda -</h6>
                                </div>
                                <small class="muted-text">ALFONSO LUGO</small>
                                <p class="feats p-d-sm-none">Features</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-5">
                    <div class="p-d-flex p-jc-end p-p-3 ">
                        <p class="feat  p-d-none p-d-sm-inline-flex">Features</p>
                        <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-text "
                            id="music"></button>
                        <button pButton pRipple type="button" icon="pi pi-share-alt"
                            class="p-button-rounded p-button-text" id="music"></button>
                        <button pButton pRipple type="button" icon="pi pi-plus "
                            class="p-button-rounded  p-button-text " id="music"></button>
                        <button pButton pRipple type="button" icon="pi pi-download "
                            class="p-button-rounded  p-button-text " id="music"></button>
                    </div>

                </div>
            </div>

        </div>
        <p-divider></p-divider>
        <div id="play">
            <div class="p-grid">
                <div class="p-col-6">
                    <div style="display: inline;">
                        <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                            <!-- <i class="pi pi-play" pTooltip="Play" tooltipPosition="bottom"></i> -->
                            <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                                width="50px">
                            <div style="margin-left: 10px;">
                                <div>
                                    <h6>Latinas feat. Vince Miranda -</h6>
                                </div>
                                <small class="muted-text">ALFONSO LUGO</small>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-5">
                    <div class="p-d-flex p-jc-end p-p-3 ">
                        <!-- <p class="feat">Features</p> -->
                        <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-text "
                            id="music"></button>
                        <button pButton pRipple type="button" icon="pi pi-share-alt"
                            class="p-button-rounded p-button-text" id="music"></button>
                        <button pButton pRipple type="button" icon="pi pi-plus "
                            class="p-button-rounded  p-button-text " id="music"></button>
                        <button pButton pRipple type="button" icon="pi pi-download "
                            class="p-button-rounded  p-button-text " id="music"></button>
                    </div>

                </div>
            </div>
        </div>

        <p-divider></p-divider>
        <div id="play">
            <div class="p-grid">
                <div class="p-col-6">
                    <div style="display: inline;">
                        <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                            <!-- <i class="pi pi-play" pTooltip="Play" tooltipPosition="bottom"></i> -->
                            <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                                width="50px">
                            <div style="margin-left: 10px;">
                                <div>
                                    <h6>Latinas feat. Vince Miranda -</h6>
                                </div>
                                <small class="muted-text">ALFONSO LUGO</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-5">
                    <div class="p-d-flex p-jc-end p-p-3 ">
                        <!-- <p class="feat">Features</p> -->
                        <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-text "
                            id="music"></button>
                        <button pButton pRipple type="button" icon="pi pi-share-alt"
                            class="p-button-rounded p-button-text" id="music"></button>
                        <button pButton pRipple type="button" icon="pi pi-plus "
                            class="p-button-rounded  p-button-text " id="music"></button>
                        <button pButton pRipple type="button" icon="pi pi-download "
                            class="p-button-rounded  p-button-text " id="music"></button>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>
<button pButton pRipple type="button" label="MORE" class="p-button-outlined" id="btn"></button>