<div class="p-grid p-mt-2">
    <div class="p-lg-2 p-md-2 p-col-6 point">
        <p-card styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/burn.jpg" style="height: 130px;">
                <div class="play">
                    <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                </div>
            </ng-template>
            <p style="font-size: .85714rem;margin-bottom: .42857rem;
            text-transform: capitalize;
            font-weight: 600;
            font-family: futurabook,Arial,sans-serif;">Lover (2021)</p>
            <span style="display: inline-block;
            margin-top: 8px;font-size: .71429rem;
    font-family: futurabook,Arial,sans-serif;
    text-transform: uppercase;">Square a Saw
                <br>
                2021
            </span>
        </p-card>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 point">
        <p-card styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/pain.jpg" style="height: 130px;">
                <div class="play">
                    <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                </div>
            </ng-template>

            <p style="font-size: .85714rem;margin-bottom: .42857rem;
            text-transform: capitalize;
            font-weight: 600;
            font-family: futurabook,Arial,sans-serif;">Lover (2021)</p>
            <span style="display: inline-block;
            margin-top: 8px;font-size: .71429rem;
    font-family: futurabook,Arial,sans-serif;
    text-transform: uppercase;">Square a Saw
                <br>
                2021
            </span>
        </p-card>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point">
        <p-card styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/choco.jpg" style="height: 130px;">
                <div class="play">
                    <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                </div>
            </ng-template>

            <p style="font-size: .85714rem;margin-bottom: .42857rem;
            text-transform: capitalize;
            font-weight: 600;
            font-family: futurabook,Arial,sans-serif;">Lover (2021)</p>
            <span style="display: inline-block;
            margin-top: 8px;font-size: .71429rem;
    font-family: futurabook,Arial,sans-serif;
    text-transform: uppercase;">Square a Saw
                <br>
                2021
            </span>
        </p-card>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point">
        <p-card styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/lover.jpg" style="height: 130px;">
                <div class="play">
                    <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                </div>
            </ng-template>

            <p style="font-size: .85714rem;margin-bottom: .42857rem;
            text-transform: capitalize;
            font-weight: 600;
            font-family: futurabook,Arial,sans-serif;">Lover (2021)</p>
            <span style="display: inline-block;
            margin-top: 8px;font-size: .71429rem;
    font-family: futurabook,Arial,sans-serif;
    text-transform: uppercase;">Square a Saw
                <br>
                2021
            </span>
        </p-card>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point">
        <p-card styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/black.jpg" style="height: 130px;">
                <div class="play">
                    <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                </div>
            </ng-template>

            <p style="font-size: .85714rem;margin-bottom: .42857rem;
            text-transform: capitalize;
            font-weight: 600;
            font-family: futurabook,Arial,sans-serif;">Lover (2021)</p>
            <span style="display: inline-block;
            margin-top: 8px;font-size: .71429rem;
    font-family: futurabook,Arial,sans-serif;
    text-transform: uppercase;">Square a Saw
                <br>
                2021
            </span>
        </p-card>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point">
        <p-card styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/party.jpg" style="height: 130px;">
                <div class="play">
                    <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                </div>
            </ng-template>

            <p style="font-size: .85714rem;margin-bottom: .42857rem;
            text-transform: capitalize;
            font-weight: 600;
            font-family: futurabook,Arial,sans-serif;">Lover (2021)</p>
            <span style="display: inline-block;
            margin-top: 8px;font-size: .71429rem;
    font-family: futurabook,Arial,sans-serif;
    text-transform: uppercase;">Square a Saw
                <br>
                2021
            </span>
        </p-card>
    </div>
</div>
<div class="p-grid">
    <div class="p-lg-2 p-md-2 p-col-6 point">
        <p-card styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/life.jpg" style="height: 130px;">
                <div class="play">
                    <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                </div>
            </ng-template>

            <p style="font-size: .85714rem;margin-bottom: .42857rem;
            text-transform: capitalize;
            font-weight: 600;
            font-family: futurabook,Arial,sans-serif;">Lover (2021)</p>
            <span style="display: inline-block;
            margin-top: 8px;font-size: .71429rem;
    font-family: futurabook,Arial,sans-serif;
    text-transform: uppercase;">Square a Saw
                <br>
                2021
            </span>
        </p-card>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 point">
        <p-card styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/right.jpg" style="height: 130px;">
                <div class="play">
                    <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                </div>
            </ng-template>

            <p style="font-size: .85714rem;margin-bottom: .42857rem;
            text-transform: capitalize;
            font-weight: 600;
            font-family: futurabook,Arial,sans-serif;">Lover (2021)</p>
            <span style="display: inline-block;
            margin-top: 8px;font-size: .71429rem;
    font-family: futurabook,Arial,sans-serif;
    text-transform: uppercase;">Square a Saw
                <br>
                2021
            </span>
        </p-card>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point">
        <p-card styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/same.jpg" style="height: 130px;">
                <div class="play">
                    <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                </div>
            </ng-template>

            <p style="font-size: .85714rem;margin-bottom: .42857rem;
            text-transform: capitalize;
            font-weight: 600;
            font-family: futurabook,Arial,sans-serif;">Lover (2021)</p>
            <span style="display: inline-block;
            margin-top: 8px;font-size: .71429rem;
    font-family: futurabook,Arial,sans-serif;
    text-transform: uppercase;">Square a Saw
                <br>
                2021
            </span>
        </p-card>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point">
        <p-card styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/sum.jpg" style="height: 130px;">
                <div class="play">
                    <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                </div>
            </ng-template>

            <p style="font-size: .85714rem;margin-bottom: .42857rem;
            text-transform: capitalize;
            font-weight: 600;
            font-family: futurabook,Arial,sans-serif;">Lover (2021)</p>
            <span style="display: inline-block;
            margin-top: 8px;font-size: .71429rem;
    font-family: futurabook,Arial,sans-serif;
    text-transform: uppercase;">Square a Saw
                <br>
                2021
            </span>
        </p-card>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point">
        <p-card styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/diff.jpg" style="height: 130px;">
                <div class="play">
                    <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                </div>
            </ng-template>

            <p style="font-size: .85714rem;margin-bottom: .42857rem;
            text-transform: capitalize;
            font-weight: 600;
            font-family: futurabook,Arial,sans-serif;">Lover (2021)</p>
            <span style="display: inline-block;
            margin-top: 8px;font-size: .71429rem;
    font-family: futurabook,Arial,sans-serif;
    text-transform: uppercase;">Square a Saw
                <br>
                2021
            </span>
        </p-card>
    </div>

    <div class="p-lg-2 p-md-2 p-col-6 p-d-none p-d-md-inline-flex point">
        <p-card styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/images/heart.jpg" style="height: 130px;">
                <div class="play">
                    <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                </div>
            </ng-template>

            <p style="font-size: .85714rem;margin-bottom: .42857rem;
            text-transform: capitalize;
            font-weight: 600;
            font-family: futurabook,Arial,sans-serif;">Lover (2021)</p>
            <span style="display: inline-block;
            margin-top: 8px;font-size: .71429rem;
    font-family: futurabook,Arial,sans-serif;
    text-transform: uppercase;">Square a Saw
                <br>
                2021
            </span>
        </p-card>
    </div>
</div>