<div class="mt-4">
    <p>
        Las mujeres de España <br />
        Argentinas y Dominicanas  <br />
        de Perú y Guatemala <br />
        Venezuela, Cuba y Ecuador
    </p>

    <p>
        De Chile y Paraguayas <br>
       Uruguayas y Colombianas <br>
       México, Nicaragua <br>
        y El Salvador 
    </p>

    <p>
        Llevan en la sangre el ritmo y el calor <br>
         Mira ya te cuento su veneno es mi adicción<br>
        Baile, fuego y movimiento lento, lento
    </p>
    <p>
        Son puro amor<br>
        mujeres latinas son lo mejor<br>
        son corazón <br>
        candela que brilla, flama divina
    </p>
    <p>
        Son emoción <br>
        las musas que dictan esta canción <br>
        son bendición <br>
        mujeres latinas 
    </p>
    <p>
       Su ritmo es mi pasión oh oh <br>
       Su ritmo es mi pasión oh oh
    </p>
    <P>
        Llega por fin el fin de semana <br>
        yo me preparo pa’ salir con calma <br>
        emocionado, bien perfumado <br>
        pa’ que las mujeres me vean presentado
    </P>
    <p>
        Son la latinas la octava maravilla <br>
        brillan, y con sus besos todo lo hacen vibrar
    </p>
    <p>
        Puerto Rico, Belice, Bolivia y Panamá <br>
        bien tú sabes que te van a conquistar <br>
        En Costa Rica, Honduras y aún hay más<br>
        Italia, Francia, Brasil y Portugal
    </p>
    <p>
        Son puro amor <br>
        mujeres latinas son lo mejor <br>
        son corazón <br>
        candela que brilla, flama divina
    </p>
    <p>
        Son emoción <br>
        las musas que dictan esta canción <br>
        son bendición <br>
        mujeres latinas
    </p>
    <p>
        Su ritmo es mi pasión oh oh <br>
        Su ritmo es mi pasión oh oh
    </p>
    <p>
        Este flow <br>
        va pa’ to <br>
        va pa’ todas las latinas que le dan al mundo todo su calor <br>
        but keep it low <br>
        que te bailan despacito y te derriten just al ritmo del dembow 
    </p>
    <p>
        a sangre les hierve <br>
        y se pone caliente <br>
        mire que se siente <br>
        chiquita no respondo no me tiente
    </p>
    <p>
        Son puro amor <br>
        mujeres latinas son lo mejor <br>
        son corazón <br>
        candela que brilla, flama divina 
    </p>
    <p>
        Son emoción <br>
        las musas que dictan esta canción <br>
        son bendición <br>
        mujeres latinas 
    </p>
    <p>
        Su ritmo es mi pasión oh oh <br>
        Su ritmo es mi pasión oh oh
    </p>
    
</div>
