<div class="card height-100">
    <div style="margin-bottom: 20px; margin-left: 10px; margin-top: 10px;">
        <h5>Music for Video</h5>
    </div>

    <div>
        <div class="video">
            <div class="p-grid">
                <div class="p-col-6">
                    <div class="love">
                        <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                            <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                                width="50px">
                            <div style="margin-left: 10px;">
                                <div>
                                    <h6>Latinas feat. Vince Miranda-</h6>
                                </div>
                                <small class="muted-text">ALFONSO LUGO</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-5">
                    <div class="p-d-flex p-jc-end p-p-3 ">
                        <button pButton pRipple type="button" label="USE IN MY VIDEO" class="btn5"></button>
                    </div>

                </div>
            </div>
        </div>

        <div class="video">
            <div class="p-grid">
                <div class="p-col-6">
                    <div class="love">
                        <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                            <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                                width="50px">
                            <div style="margin-left: 10px;">
                                <div>
                                    <h6>Latinas feat. Vince Miranda-</h6>
                                </div>
                                <small class="muted-text">ALFONSO LUGO</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-5">
                    <div class="p-d-flex p-jc-end p-p-3 ">
                        <button pButton pRipple type="button" label="USE IN MY VIDEO" class="btn5"></button>
                    </div>

                </div>
            </div>
        </div>

        <div class="video">
            <div class="p-grid">
                <div class="p-col-6">
                    <div class="love">
                        <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                            <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                                width="50px">
                            <div style="margin-left: 10px;">
                                <div>
                                    <h6>Latinas feat. Vince Miranda-</h6>
                                </div>
                                <small class="muted-text">ALFONSO LUGO</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-5">
                    <div class="p-d-flex p-jc-end p-p-3 ">
                        <button pButton pRipple type="button" label="USE IN MY VIDEO" class="btn5"></button>
                    </div>

                </div>
            </div>
        </div>

        <div class="video">
            <div class="p-grid">
                <div class="p-col-6">
                    <div class="love">
                        <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                            <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                                width="50px">
                            <div style="margin-left: 10px;">
                                <div>
                                    <h6>Latinas feat. Vince Miranda-</h6>
                                </div>
                                <small class="muted-text">ALFONSO LUGO</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-5">
                    <div class="p-d-flex p-jc-end p-p-3 ">
                        <button pButton pRipple type="button" label="USE IN MY VIDEO" class="btn5"></button>
                    </div>

                </div>
            </div>
        </div>
        <div>
            <div class="video">
                <div class="p-grid">
                    <div class="p-col-6">
                        <div class="love">
                            <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                                <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                                    width="50px">
                                <div style="margin-left: 10px;">
                                    <div>
                                        <h6>Latinas feat. Vince Miranda-</h6>
                                    </div>
                                    <small class="muted-text">ALFONSO LUGO</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-5">
                        <div class="p-d-flex p-jc-end p-p-3 ">
                            <button pButton pRipple type="button" label="USE IN MY VIDEO" class="btn5"></button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<button pButton pRipple type="button" label="MORE MUSIC FOR VIDEOS" class="p-button-outlined" id="btn"></button>