<div class="dashboard-banking">
    <div class="p-grid panel">
        <div class=" p-col-6 p-md-6 p-lg-3  ">
            <div class="currency">
                <div class="p-d-flex p-jc-between">
                    <div>
                        <h6>Music Artist</h6>
                    </div>
                    <div>
                        <i class="pi pi-info"></i>
                    </div>
                </div>
                <div class="p-d-flex p-jc-between p-mt-3">
                    <div><img src="https://cdn4.iconfinder.com/data/icons/business-and-e-commerce/64/Bar_graph-128.png"
                            alt="" width="32px"></div>
                    <div class="">
                        <div class="">
                            <h2>352</h2>
                        </div>
                    </div>
                    <div> <i class="pi pi-image"></i> </div>
                </div>
            </div>
        </div>

        <div class=" p-col-6 p-md-6 p-lg-3  ">
            <div class="currency">
                <div class="p-d-flex p-jc-between">
                    <div>
                        <h6>Music Album</h6>
                    </div>
                    <div>
                        <i class="pi pi-info"></i>
                    </div>
                </div>
                <div class="p-d-flex p-jc-between p-mt-3">
                    <div><img src="https://cdn4.iconfinder.com/data/icons/business-and-e-commerce/64/Bar_graph-128.png"
                            alt="" width="32px"></div>
                    <div class="">
                        <div class="">
                            <h2>987</h2>
                        </div>
                    </div>
                    <div> <i class="pi pi-tag"></i> </div>
                </div>
            </div>
        </div>
        <div class=" p-col-6 p-md-6 p-lg-3  ">
            <div class="currency">
                <div class="p-d-flex p-jc-between">
                    <div>
                        <h6>Music Followers</h6>
                    </div>
                    <div>
                        <i class="pi pi-info"></i>
                    </div>
                </div>
                <div class="p-d-flex p-jc-between p-mt-3">
                    <div><img src="https://cdn4.iconfinder.com/data/icons/business-and-e-commerce/64/Bar_graph-128.png"
                            alt="" width="32px"></div>
                    <div class="">
                        <div class="">
                            <h2>2.5K</h2>
                        </div>
                    </div>
                    <div> <i class="pi pi-users"></i> </div>
                </div>
            </div>
        </div>

        <div class=" p-col-6 p-md-6 p-lg-3  ">
            <div class="currency">
                <div class="p-d-flex p-jc-between">
                    <div>
                        <h6>Music Comments </h6>
                    </div>
                    <div>
                        <i class="pi pi-info"></i>
                    </div>
                </div>
                <div class="p-d-flex p-jc-between p-mt-3">
                    <div><img src="https://cdn4.iconfinder.com/data/icons/business-and-e-commerce/64/Bar_graph-128.png"
                            alt="" width="32px"></div>
                    <div class="">
                        <div class="">
                            <h2>5.2M</h2>
                        </div>
                    </div>
                    <div> <i class="pi pi-comments"></i> </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-8">
        <div class="card" style="position: relative;">
            <div id="progress-chart-2" style="min-height: 365px;">
                <div id="apexchartsytwpxjvk" class="apexcharts-canvas apexchartsytwpxjvk light"
                    style="width: 733px; height: 350px;"><svg id="SvgjsSvg1191" width="733" height="350"
                        xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS"
                        transform="translate(0, 0)" style="background: transparent;">
                        <g id="SvgjsG1193" class="apexcharts-inner apexcharts-graphical"
                            transform="translate(49.25, 30)">
                            <defs id="SvgjsDefs1192">
                                <linearGradient id="SvgjsLinearGradient1197" x1="0" y1="0" x2="0" y2="1">
                                    <stop id="SvgjsStop1198" stop-opacity="0.4" stop-color="rgba(216,227,240,0.4)"
                                        offset="0">
                                    </stop>
                                    <stop id="SvgjsStop1199" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)"
                                        offset="1">
                                    </stop>
                                    <stop id="SvgjsStop1200" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)"
                                        offset="1">
                                    </stop>
                                </linearGradient>
                                <clipPath id="gridRectMaskytwpxjvk">
                                    <rect id="SvgjsRect1202" width="675.75" height="297" x="-1" y="-1" rx="0" ry="0"
                                        fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0">
                                    </rect>
                                </clipPath>
                                <clipPath id="gridRectMarkerMaskytwpxjvk">
                                    <rect id="SvgjsRect1203" width="675.75" height="297" x="-1" y="-1" rx="0" ry="0"
                                        fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0">
                                    </rect>
                                </clipPath>
                            </defs>
                            <rect id="SvgjsRect1201" width="10.71875" height="295" x="385.25" y="0" rx="0" ry="0"
                                fill="url(#SvgjsLinearGradient1197)" opacity="1" stroke-width="0" stroke-dasharray="3"
                                class="apexcharts-xcrosshairs" y2="295" filter="none" fill-opacity="0.9" x1="385.25"
                                x2="385.25"></rect>
                            <g id="SvgjsG1232" class="apexcharts-xaxis" transform="translate(0, 0)">
                                <g id="SvgjsG1233" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"><text
                                        id="SvgjsText1234" font-family="Helvetica, Arial, sans-serif"
                                        x="37.43055555555556" y="324" text-anchor="middle" dominant-baseline="auto"
                                        font-size="12px" font-weight="400" fill="#373d3f"
                                        class="apexcharts-xaxis-label "
                                        style="font-family: Helvetica, Arial, sans-serif;">
                                        <tspan id="SvgjsTspan1235" style="font-family: Helvetica, Arial, sans-serif;">
                                            Feb
                                        </tspan>
                                        <title>Feb</title>
                                    </text><text id="SvgjsText1236" font-family="Helvetica, Arial, sans-serif"
                                        x="112.29166666666667" y="324" text-anchor="middle" dominant-baseline="auto"
                                        font-size="12px" font-weight="400" fill="#373d3f"
                                        class="apexcharts-xaxis-label "
                                        style="font-family: Helvetica, Arial, sans-serif;">
                                        <tspan id="SvgjsTspan1237" style="font-family: Helvetica, Arial, sans-serif;">
                                            Mar
                                        </tspan>
                                        <title>Mar</title>
                                    </text><text id="SvgjsText1238" font-family="Helvetica, Arial, sans-serif"
                                        x="187.15277777777777" y="324" text-anchor="middle" dominant-baseline="auto"
                                        font-size="12px" font-weight="400" fill="#373d3f"
                                        class="apexcharts-xaxis-label "
                                        style="font-family: Helvetica, Arial, sans-serif;">
                                        <tspan id="SvgjsTspan1239" style="font-family: Helvetica, Arial, sans-serif;">
                                            Apr
                                        </tspan>
                                        <title>Apr</title>
                                    </text><text id="SvgjsText1240" font-family="Helvetica, Arial, sans-serif"
                                        x="262.0138888888889" y="324" text-anchor="middle" dominant-baseline="auto"
                                        font-size="12px" font-weight="400" fill="#373d3f"
                                        class="apexcharts-xaxis-label "
                                        style="font-family: Helvetica, Arial, sans-serif;">
                                        <tspan id="SvgjsTspan1241" style="font-family: Helvetica, Arial, sans-serif;">
                                            May
                                        </tspan>
                                        <title>May</title>
                                    </text><text id="SvgjsText1242" font-family="Helvetica, Arial, sans-serif"
                                        x="336.875" y="324" text-anchor="middle" dominant-baseline="auto"
                                        font-size="12px" font-weight="400" fill="#373d3f"
                                        class="apexcharts-xaxis-label "
                                        style="font-family: Helvetica, Arial, sans-serif;">
                                        <tspan id="SvgjsTspan1243" style="font-family: Helvetica, Arial, sans-serif;">
                                            Jun
                                        </tspan>
                                        <title>Jun</title>
                                    </text><text id="SvgjsText1244" font-family="Helvetica, Arial, sans-serif"
                                        x="411.7361111111111" y="324" text-anchor="middle" dominant-baseline="auto"
                                        font-size="12px" font-weight="400" fill="#373d3f"
                                        class="apexcharts-xaxis-label "
                                        style="font-family: Helvetica, Arial, sans-serif;">
                                        <tspan id="SvgjsTspan1245" style="font-family: Helvetica, Arial, sans-serif;">
                                            Jul
                                        </tspan>
                                        <title>Jul</title>
                                    </text><text id="SvgjsText1246" font-family="Helvetica, Arial, sans-serif"
                                        x="486.5972222222222" y="324" text-anchor="middle" dominant-baseline="auto"
                                        font-size="12px" font-weight="400" fill="#373d3f"
                                        class="apexcharts-xaxis-label "
                                        style="font-family: Helvetica, Arial, sans-serif;">
                                        <tspan id="SvgjsTspan1247" style="font-family: Helvetica, Arial, sans-serif;">
                                            Aug
                                        </tspan>
                                        <title>Aug</title>
                                    </text><text id="SvgjsText1248" font-family="Helvetica, Arial, sans-serif"
                                        x="561.4583333333333" y="324" text-anchor="middle" dominant-baseline="auto"
                                        font-size="12px" font-weight="400" fill="#373d3f"
                                        class="apexcharts-xaxis-label "
                                        style="font-family: Helvetica, Arial, sans-serif;">
                                        <tspan id="SvgjsTspan1249" style="font-family: Helvetica, Arial, sans-serif;">
                                            Sep
                                        </tspan>
                                        <title>Sep</title>
                                    </text><text id="SvgjsText1250" font-family="Helvetica, Arial, sans-serif"
                                        x="636.3194444444443" y="324" text-anchor="middle" dominant-baseline="auto"
                                        font-size="12px" font-weight="400" fill="#373d3f"
                                        class="apexcharts-xaxis-label "
                                        style="font-family: Helvetica, Arial, sans-serif;">
                                        <tspan id="SvgjsTspan1251" style="font-family: Helvetica, Arial, sans-serif;">
                                            Oct
                                        </tspan>
                                        <title>Oct</title>
                                    </text></g>
                                <line id="SvgjsLine1252" x1="0" y1="296" x2="673.75" y2="296" stroke="#78909c"
                                    stroke-dasharray="0" stroke-width="1"></line>
                            </g>
                            <g id="SvgjsG1261" class="apexcharts-grid">
                                <g id="SvgjsG1262" class="apexcharts-gridlines-horizontal">
                                    <line id="SvgjsLine1272" x1="0" y1="0" x2="673.75" y2="0" stroke="#e0e0e0"
                                        stroke-dasharray="0" class="apexcharts-gridline"></line>
                                    <line id="SvgjsLine1273" x1="0" y1="98.33333333333333" x2="673.75"
                                        y2="98.33333333333333" stroke="#e0e0e0" stroke-dasharray="0"
                                        class="apexcharts-gridline"></line>
                                    <line id="SvgjsLine1274" x1="0" y1="196.66666666666666" x2="673.75"
                                        y2="196.66666666666666" stroke="#e0e0e0" stroke-dasharray="0"
                                        class="apexcharts-gridline"></line>
                                    <line id="SvgjsLine1275" x1="0" y1="295" x2="673.75" y2="295" stroke="#e0e0e0"
                                        stroke-dasharray="0" class="apexcharts-gridline"></line>
                                </g>
                                <g id="SvgjsG1263" class="apexcharts-gridlines-vertical"></g>
                                <line id="SvgjsLine1264" x1="74.86111111111111" y1="296" x2="74.86111111111111" y2="302"
                                    stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                <line id="SvgjsLine1265" x1="149.72222222222223" y1="296" x2="149.72222222222223"
                                    y2="302" stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                <line id="SvgjsLine1266" x1="224.58333333333334" y1="296" x2="224.58333333333334"
                                    y2="302" stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                <line id="SvgjsLine1267" x1="299.44444444444446" y1="296" x2="299.44444444444446"
                                    y2="302" stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                <line id="SvgjsLine1268" x1="374.30555555555554" y1="296" x2="374.30555555555554"
                                    y2="302" stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                <line id="SvgjsLine1269" x1="449.16666666666663" y1="296" x2="449.16666666666663"
                                    y2="302" stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                <line id="SvgjsLine1270" x1="524.0277777777777" y1="296" x2="524.0277777777777" y2="302"
                                    stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                <line id="SvgjsLine1271" x1="598.8888888888888" y1="296" x2="598.8888888888888" y2="302"
                                    stroke="#78909c" stroke-dasharray="0" class="apexcharts-xaxis-tick"></line>
                                <line id="SvgjsLine1277" x1="0" y1="295" x2="673.75" y2="295" stroke="transparent"
                                    stroke-dasharray="0"></line>
                                <line id="SvgjsLine1276" x1="0" y1="1" x2="0" y2="295" stroke="transparent"
                                    stroke-dasharray="0"></line>
                            </g>
                            <g id="SvgjsG1205" class="apexcharts-bar-series apexcharts-plot-series">
                                <g id="SvgjsG1206" class="apexcharts-series" rel="1" seriesName="NetxProfit"
                                    data:realIndex="0">
                                    <path id="SvgjsPath1208"
                                        d="M 19.90625 295L 19.90625 272.0963541666667Q 24.265625 268.7369791666667 28.625 272.0963541666667L 28.625 295L 18.90625 295"
                                        fill="rgba(255,69,69,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 19.90625 295L 19.90625 272.0963541666667Q 24.265625 268.7369791666667 28.625 272.0963541666667L 28.625 295L 18.90625 295"
                                        pathFrom="M 19.90625 295L 19.90625 295L 28.625 295L 28.625 295L 18.90625 295"
                                        cy="270.4166666666667" cx="80.15625" j="0" val="5"
                                        barHeight="24.583333333333332" barWidth="10.71875"></path>
                                    <path id="SvgjsPath1209"
                                        d="M 81.15625 295L 81.15625 222.9296875Q 85.515625 219.5703125 89.875 222.9296875L 89.875 295L 80.15625 295"
                                        fill="rgba(255,69,69,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 81.15625 295L 81.15625 222.9296875Q 85.515625 219.5703125 89.875 222.9296875L 89.875 295L 80.15625 295"
                                        pathFrom="M 81.15625 295L 81.15625 295L 89.875 295L 89.875 295L 80.15625 295"
                                        cy="221.25" cx="141.40625" j="1" val="15" barHeight="73.75" barWidth="10.71875">
                                    </path>
                                    <path id="SvgjsPath1210"
                                        d="M 142.40625 295L 142.40625 173.76302083333334Q 146.765625 170.40364583333334 151.125 173.76302083333334L 151.125 295L 141.40625 295"
                                        fill="rgba(255,69,69,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 142.40625 295L 142.40625 173.76302083333334Q 146.765625 170.40364583333334 151.125 173.76302083333334L 151.125 295L 141.40625 295"
                                        pathFrom="M 142.40625 295L 142.40625 295L 151.125 295L 151.125 295L 141.40625 295"
                                        cy="172.08333333333334" cx="202.65625" j="2" val="25"
                                        barHeight="122.91666666666666" barWidth="10.71875"></path>
                                    <path id="SvgjsPath1211"
                                        d="M 203.65625 295L 203.65625 124.59635416666669Q 208.015625 121.23697916666669 212.375 124.59635416666669L 212.375 295L 202.65625 295"
                                        fill="rgba(255,69,69,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 203.65625 295L 203.65625 124.59635416666669Q 208.015625 121.23697916666669 212.375 124.59635416666669L 212.375 295L 202.65625 295"
                                        pathFrom="M 203.65625 295L 203.65625 295L 212.375 295L 212.375 295L 202.65625 295"
                                        cy="122.91666666666669" cx="263.90625" j="3" val="35"
                                        barHeight="172.08333333333331" barWidth="10.71875"></path>
                                    <path id="SvgjsPath1212"
                                        d="M 264.90625 295L 264.90625 75.42968750000003Q 269.265625 72.07031250000003 273.625 75.42968750000003L 273.625 295L 263.90625 295"
                                        fill="rgba(255,69,69,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 264.90625 295L 264.90625 75.42968750000003Q 269.265625 72.07031250000003 273.625 75.42968750000003L 273.625 295L 263.90625 295"
                                        pathFrom="M 264.90625 295L 264.90625 295L 273.625 295L 273.625 295L 263.90625 295"
                                        cy="73.75000000000003" cx="325.15625" j="4" val="45"
                                        barHeight="221.24999999999997" barWidth="10.71875"></path>
                                    <path id="SvgjsPath1213"
                                        d="M 326.15625 295L 326.15625 26.26302083333337Q 330.515625 22.90364583333337 334.875 26.26302083333337L 334.875 295L 325.15625 295"
                                        fill="rgba(255,69,69,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 326.15625 295L 326.15625 26.26302083333337Q 330.515625 22.90364583333337 334.875 26.26302083333337L 334.875 295L 325.15625 295"
                                        pathFrom="M 326.15625 295L 326.15625 295L 334.875 295L 334.875 295L 325.15625 295"
                                        cy="24.58333333333337" cx="386.40625" j="5" val="55"
                                        barHeight="270.41666666666663" barWidth="10.71875"></path>
                                    <path id="SvgjsPath1214"
                                        d="M 387.40625 295L 387.40625 75.42968750000003Q 391.765625 72.07031250000003 396.125 75.42968750000003L 396.125 295L 386.40625 295"
                                        fill="rgba(255,69,69,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 387.40625 295L 387.40625 75.42968750000003Q 391.765625 72.07031250000003 396.125 75.42968750000003L 396.125 295L 386.40625 295"
                                        pathFrom="M 387.40625 295L 387.40625 295L 396.125 295L 396.125 295L 386.40625 295"
                                        cy="73.75000000000003" cx="447.65625" j="6" val="45"
                                        barHeight="221.24999999999997" barWidth="10.71875"></path>
                                    <path id="SvgjsPath1215"
                                        d="M 448.65625 295L 448.65625 124.59635416666669Q 453.015625 121.23697916666669 457.375 124.59635416666669L 457.375 295L 447.65625 295"
                                        fill="rgba(255,69,69,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 448.65625 295L 448.65625 124.59635416666669Q 453.015625 121.23697916666669 457.375 124.59635416666669L 457.375 295L 447.65625 295"
                                        pathFrom="M 448.65625 295L 448.65625 295L 457.375 295L 457.375 295L 447.65625 295"
                                        cy="122.91666666666669" cx="508.90625" j="7" val="35"
                                        barHeight="172.08333333333331" barWidth="10.71875"></path>
                                    <path id="SvgjsPath1216"
                                        d="M 509.90625 295L 509.90625 173.76302083333334Q 514.265625 170.40364583333334 518.625 173.76302083333334L 518.625 295L 508.90625 295"
                                        fill="rgba(255,69,69,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 509.90625 295L 509.90625 173.76302083333334Q 514.265625 170.40364583333334 518.625 173.76302083333334L 518.625 295L 508.90625 295"
                                        pathFrom="M 509.90625 295L 509.90625 295L 518.625 295L 518.625 295L 508.90625 295"
                                        cy="172.08333333333334" cx="570.15625" j="8" val="25"
                                        barHeight="122.91666666666666" barWidth="10.71875"></path>
                                    <path id="SvgjsPath1217"
                                        d="M 571.15625 295L 571.15625 222.9296875Q 575.515625 219.5703125 579.875 222.9296875L 579.875 295L 570.15625 295"
                                        fill="rgba(255,69,69,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 571.15625 295L 571.15625 222.9296875Q 575.515625 219.5703125 579.875 222.9296875L 579.875 295L 570.15625 295"
                                        pathFrom="M 571.15625 295L 571.15625 295L 579.875 295L 579.875 295L 570.15625 295"
                                        cy="221.25" cx="631.40625" j="9" val="15" barHeight="73.75" barWidth="10.71875">
                                    </path>
                                    <path id="SvgjsPath1218"
                                        d="M 632.40625 295L 632.40625 272.0963541666667Q 636.765625 268.7369791666667 641.125 272.0963541666667L 641.125 295L 631.40625 295"
                                        fill="rgba(255,69,69,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 632.40625 295L 632.40625 272.0963541666667Q 636.765625 268.7369791666667 641.125 272.0963541666667L 641.125 295L 631.40625 295"
                                        pathFrom="M 632.40625 295L 632.40625 295L 641.125 295L 641.125 295L 631.40625 295"
                                        cy="270.4166666666667" cx="692.65625" j="10" val="5"
                                        barHeight="24.583333333333332" barWidth="10.71875"></path>
                                    <g id="SvgjsG1207" class="apexcharts-datalabels"></g>
                                </g>
                                <g id="SvgjsG1219" class="apexcharts-series" rel="2" seriesName="Revenue"
                                    data:realIndex="1">
                                    <path id="SvgjsPath1221"
                                        d="M 30.625 295L 30.625 247.51302083333334Q 34.984375 244.15364583333334 39.34375 247.51302083333334L 39.34375 295L 29.625 295"
                                        fill="rgba(0,208,255,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 30.625 295L 30.625 247.51302083333334Q 34.984375 244.15364583333334 39.34375 247.51302083333334L 39.34375 295L 29.625 295"
                                        pathFrom="M 30.625 295L 30.625 295L 39.34375 295L 39.34375 295L 29.625 295"
                                        cy="245.83333333333334" cx="90.875" j="0" val="10"
                                        barHeight="49.166666666666664" barWidth="10.71875"></path>
                                    <path id="SvgjsPath1222"
                                        d="M 91.875 295L 91.875 198.34635416666669Q 96.234375 194.98697916666669 100.59375 198.34635416666669L 100.59375 295L 90.875 295"
                                        fill="rgba(0,208,255,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 91.875 295L 91.875 198.34635416666669Q 96.234375 194.98697916666669 100.59375 198.34635416666669L 100.59375 295L 90.875 295"
                                        pathFrom="M 91.875 295L 91.875 295L 100.59375 295L 100.59375 295L 90.875 295"
                                        cy="196.66666666666669" cx="152.125" j="1" val="20"
                                        barHeight="98.33333333333333" barWidth="10.71875"></path>
                                    <path id="SvgjsPath1223"
                                        d="M 153.125 295L 153.125 149.1796875Q 157.484375 145.8203125 161.84375 149.1796875L 161.84375 295L 152.125 295"
                                        fill="rgba(0,208,255,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 153.125 295L 153.125 149.1796875Q 157.484375 145.8203125 161.84375 149.1796875L 161.84375 295L 152.125 295"
                                        pathFrom="M 153.125 295L 153.125 295L 161.84375 295L 161.84375 295L 152.125 295"
                                        cy="147.5" cx="213.375" j="2" val="30" barHeight="147.5" barWidth="10.71875">
                                    </path>
                                    <path id="SvgjsPath1224"
                                        d="M 214.375 295L 214.375 100.01302083333334Q 218.734375 96.65364583333334 223.09375 100.01302083333334L 223.09375 295L 213.375 295"
                                        fill="rgba(0,208,255,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 214.375 295L 214.375 100.01302083333334Q 218.734375 96.65364583333334 223.09375 100.01302083333334L 223.09375 295L 213.375 295"
                                        pathFrom="M 214.375 295L 214.375 295L 223.09375 295L 223.09375 295L 213.375 295"
                                        cy="98.33333333333334" cx="274.625" j="3" val="40"
                                        barHeight="196.66666666666666" barWidth="10.71875"></path>
                                    <path id="SvgjsPath1225"
                                        d="M 275.625 295L 275.625 50.846354166666686Q 279.984375 47.486979166666686 284.34375 50.846354166666686L 284.34375 295L 274.625 295"
                                        fill="rgba(0,208,255,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 275.625 295L 275.625 50.846354166666686Q 279.984375 47.486979166666686 284.34375 50.846354166666686L 284.34375 295L 274.625 295"
                                        pathFrom="M 275.625 295L 275.625 295L 284.34375 295L 284.34375 295L 274.625 295"
                                        cy="49.166666666666686" cx="335.875" j="4" val="50"
                                        barHeight="245.83333333333331" barWidth="10.71875"></path>
                                    <path id="SvgjsPath1226"
                                        d="M 336.875 295L 336.875 1.6796875Q 341.234375 -1.6796875 345.59375 1.6796875L 345.59375 295L 335.875 295"
                                        fill="rgba(0,208,255,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 336.875 295L 336.875 1.6796875Q 341.234375 -1.6796875 345.59375 1.6796875L 345.59375 295L 335.875 295"
                                        pathFrom="M 336.875 295L 336.875 295L 345.59375 295L 345.59375 295L 335.875 295"
                                        cy="0" cx="397.125" j="5" val="60" barHeight="295" barWidth="10.71875"></path>
                                    <path id="SvgjsPath1227"
                                        d="M 398.125 295L 398.125 50.846354166666686Q 402.484375 47.486979166666686 406.84375 50.846354166666686L 406.84375 295L 397.125 295"
                                        fill="rgba(0,208,255,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 398.125 295L 398.125 50.846354166666686Q 402.484375 47.486979166666686 406.84375 50.846354166666686L 406.84375 295L 397.125 295"
                                        pathFrom="M 398.125 295L 398.125 295L 406.84375 295L 406.84375 295L 397.125 295"
                                        cy="49.166666666666686" cx="458.375" j="6" val="50"
                                        barHeight="245.83333333333331" barWidth="10.71875"></path>
                                    <path id="SvgjsPath1228"
                                        d="M 459.375 295L 459.375 100.01302083333334Q 463.734375 96.65364583333334 468.09375 100.01302083333334L 468.09375 295L 458.375 295"
                                        fill="rgba(0,208,255,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 459.375 295L 459.375 100.01302083333334Q 463.734375 96.65364583333334 468.09375 100.01302083333334L 468.09375 295L 458.375 295"
                                        pathFrom="M 459.375 295L 459.375 295L 468.09375 295L 468.09375 295L 458.375 295"
                                        cy="98.33333333333334" cx="519.625" j="7" val="40"
                                        barHeight="196.66666666666666" barWidth="10.71875"></path>
                                    <path id="SvgjsPath1229"
                                        d="M 520.625 295L 520.625 149.1796875Q 524.984375 145.8203125 529.34375 149.1796875L 529.34375 295L 519.625 295"
                                        fill="rgba(0,208,255,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 520.625 295L 520.625 149.1796875Q 524.984375 145.8203125 529.34375 149.1796875L 529.34375 295L 519.625 295"
                                        pathFrom="M 520.625 295L 520.625 295L 529.34375 295L 529.34375 295L 519.625 295"
                                        cy="147.5" cx="580.875" j="8" val="30" barHeight="147.5" barWidth="10.71875">
                                    </path>
                                    <path id="SvgjsPath1230"
                                        d="M 581.875 295L 581.875 198.34635416666669Q 586.234375 194.98697916666669 590.59375 198.34635416666669L 590.59375 295L 580.875 295"
                                        fill="rgba(0,208,255,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 581.875 295L 581.875 198.34635416666669Q 586.234375 194.98697916666669 590.59375 198.34635416666669L 590.59375 295L 580.875 295"
                                        pathFrom="M 581.875 295L 581.875 295L 590.59375 295L 590.59375 295L 580.875 295"
                                        cy="196.66666666666669" cx="642.125" j="9" val="20"
                                        barHeight="98.33333333333333" barWidth="10.71875"></path>
                                    <path id="SvgjsPath1231"
                                        d="M 643.125 295L 643.125 247.51302083333334Q 647.484375 244.15364583333334 651.84375 247.51302083333334L 651.84375 295L 642.125 295"
                                        fill="rgba(0,208,255,1)" fill-opacity="1" stroke="transparent"
                                        stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                        class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskytwpxjvk)"
                                        pathTo="M 643.125 295L 643.125 247.51302083333334Q 647.484375 244.15364583333334 651.84375 247.51302083333334L 651.84375 295L 642.125 295"
                                        pathFrom="M 643.125 295L 643.125 295L 651.84375 295L 651.84375 295L 642.125 295"
                                        cy="245.83333333333334" cx="703.375" j="10" val="10"
                                        barHeight="49.166666666666664" barWidth="10.71875"></path>
                                    <g id="SvgjsG1220" class="apexcharts-datalabels"></g>
                                </g>
                            </g>
                            <line id="SvgjsLine1278" x1="0" y1="0" x2="673.75" y2="0" stroke="#b6b6b6"
                                stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line>
                            <line id="SvgjsLine1279" x1="0" y1="0" x2="673.75" y2="0" stroke-dasharray="0"
                                stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line>
                            <g id="SvgjsG1280" class="apexcharts-yaxis-annotations"></g>
                            <g id="SvgjsG1281" class="apexcharts-xaxis-annotations"></g>
                            <g id="SvgjsG1282" class="apexcharts-point-annotations"></g>
                        </g>
                        <g id="SvgjsG1253" class="apexcharts-yaxis" rel="0" transform="translate(-3.75, 0)">
                            <g id="SvgjsG1254" class="apexcharts-yaxis-texts-g"><text id="SvgjsText1255"
                                    font-family="Helvetica, Arial, sans-serif" x="20" y="31.3" text-anchor="end"
                                    dominant-baseline="auto" font-size="11px" font-weight="regular" fill="#373d3f"
                                    class="apexcharts-yaxis-label "
                                    style="font-family: Helvetica, Arial, sans-serif;">60</text><text id="SvgjsText1256"
                                    font-family="Helvetica, Arial, sans-serif" x="20" y="129.73333333333335"
                                    text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="regular"
                                    fill="#373d3f" class="apexcharts-yaxis-label "
                                    style="font-family: Helvetica, Arial, sans-serif;">40</text><text id="SvgjsText1257"
                                    font-family="Helvetica, Arial, sans-serif" x="20" y="228.16666666666669"
                                    text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="regular"
                                    fill="#373d3f" class="apexcharts-yaxis-label "
                                    style="font-family: Helvetica, Arial, sans-serif;">20</text><text id="SvgjsText1258"
                                    font-family="Helvetica, Arial, sans-serif" x="20" y="326.6" text-anchor="end"
                                    dominant-baseline="auto" font-size="11px" font-weight="regular" fill="#373d3f"
                                    class="apexcharts-yaxis-label "
                                    style="font-family: Helvetica, Arial, sans-serif;">0</text>
                            </g>
                            <g id="SvgjsG1259" class="apexcharts-yaxis-title"><text id="SvgjsText1260"
                                    font-family="Helvetica, Arial, sans-serif" x="-7.25" y="177.5" text-anchor="end"
                                    dominant-baseline="auto" font-size="11px" font-weight="regular" fill="#373d3f"
                                    class="apexcharts-yaxis-title-text "
                                    style="font-family: Helvetica, Arial, sans-serif;"
                                    transform="rotate(-90 0 0)"></text></g>
                        </g>
                    </svg>
                    <div class="apexcharts-legend"></div>
                    <div class="apexcharts-tooltip light" style="left: 439.859px; top: 65px;">
                        <div class="apexcharts-tooltip-title"
                            style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">Aug</div>
                        <div class="apexcharts-tooltip-series-group active" style="display: flex;"><span
                                class="apexcharts-tooltip-marker" style="background-color: rgb(255, 69, 69);"></span>
                            <div class="apexcharts-tooltip-text"
                                style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Net
                                        Profit:
                                    </span><span class="apexcharts-tooltip-text-value">$ 45 thousands</span></div>
                                <div class="apexcharts-tooltip-z-group"><span
                                        class="apexcharts-tooltip-text-z-label"></span><span
                                        class="apexcharts-tooltip-text-z-value"></span></div>
                            </div>
                        </div>
                        <!-- <div class="apexcharts-tooltip-series-group" style="display: none;"><span
                                class="apexcharts-tooltip-marker" style="background-color: rgb(255, 69, 69);"></span>
                            <div class="apexcharts-tooltip-text"
                                style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Net Profit:
                                    </span><span class="apexcharts-tooltip-text-value">$ 45 thousands</span></div>
                                <div class="apexcharts-tooltip-z-group"><span
                                        class="apexcharts-tooltip-text-z-label"></span><span
                                        class="apexcharts-tooltip-text-z-value"></span></div>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="apexcharts-toolbar">
                        <div class="apexcharts-menu-icon" title="Menu"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24">
                                <path fill="none" d="M0 0h24v24H0V0z"></path>
                                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                            </svg></div>
                        <div class="apexcharts-menu">
                            <div class="apexcharts-menu-item exportSVG" title="Download SVG">Download SVG</div>
                            <div class="apexcharts-menu-item exportPNG" title="Download PNG">Download PNG</div>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- <div class="resize-triggers">
                <div class="expand-trigger">
                    <div style="width: 774px; height: 406px;"></div>
                </div>
                <div class="contract-trigger"></div>
            </div> -->
        </div>
    </div>
    <div class="p-col-12 p-md-12 p-lg-4">
        <div class="card">
            <div class="p-d-flex p-jc-between  p-mt-3">
                <div>
                    <h4>Best Artist</h4>
                </div>
                <div><i class="pi pi-ellipsis-h" (click)="menu.toggle($event)"></i></div>
            </div>
            <p-divider></p-divider>
            <div class="border p-mt-3">
                <div class="p-d-flex p-jc-between  ">
                    <div style="display: inline;">
                        <div class="person-item p-d-flex p-ai-center">
                            <img src="https://templates.iqonic.design/muzik/html-dark/images/user/01.jpg"
                                alt="story-img" id="img">

                            <div style="margin-left: 10px;">
                                <div style="margin-top: 5px;">
                                    <h6>Pete Sariya</h6>
                                </div>
                                <small class="muted-text" style="margin-top: -5px;">24 jan, 2020</small>

                            </div>
                        </div>

                    </div>

                    <div style="margin-top: 10px;"><h6 style="background-color:  #ff4545; padding: 4px; border-radius: 5px; color: #fff;" >157</h6></div>
                </div>



            </div>

            <div class="border1 p-mt-3">
                <div class="p-d-flex p-jc-between  ">
                    <div style="display: inline;">
                        <div class="person-item p-d-flex p-ai-center">
                            <img src="https://templates.iqonic.design/muzik/html-dark/images/user/02.jpg"
                                alt="story-img" id="img">

                            <div style="margin-left: 10px;">
                                <div style="margin-top: 5px;">
                                    <h6>Anna Mull</h6>
                                </div>
                                <small class="muted-text" style="margin-top: -5px;">  15 feb, 2020</small>

                            </div>
                        </div>

                    </div>

                    <div style="margin-top: 10px;"><h6 style="background-color:  #1ee2ac; padding: 4px; border-radius: 5px; color: #fff;" >280</h6></div>
                </div>



            </div>

            <div class="border2 p-mt-3">
                <div class="p-d-flex p-jc-between  ">
                    <div style="display: inline;">
                        <div class="person-item p-d-flex p-ai-center">
                            <img src="https://templates.iqonic.design/muzik/html-dark/images/user/03.jpg"
                                alt="story-img" id="img">

                            <div style="margin-left: 10px;">
                                <div style="margin-top: 5px;">
                                    <h6>Alex john</h6>
                                </div>
                                <small class="muted-text" style="margin-top: -5px;">05 March, 2020</small>

                            </div>
                        </div>

                    </div> 

                    <div style="margin-top: 10px;"><h6 style="background-color:  #ff4545; padding: 4px; border-radius: 5px; color: #fff;" >200</h6></div>
                </div>



            </div>

            

        </div>


    </div>
</div>

<p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>



