.pi-info{
    // font-family: 'remixicon' !important;
    // font-style: normal;
    // vertical-align: middle;
    // -webkit-font-smoothing: antialiased;
     font-size: 5px;
    color: white;
    padding: 5px ;
    background-color: gray;
    border-radius: 50%;

}
// .clearfix{
//      border-radius: 12px;
//      box-shadow: 0 4px 18px rgb(146 146 210 / 22%); 
//      padding: 10px;
  
//     background: #fff;
//     box-shadow: 0 4px 10px rgb(146 146 210 / 22%);
//     border-radius: 12px;
//     margin-bottom: 20px;
//     padding: 10px;
//     cursor: pointer;
    
// }
.pi-image{
    padding: 10px;
    border-radius: 50%;
    color: brown;
    background-color: hsla(0, 100%, 50%, 0.5);

}
.panel {
    height: 100%;

   
       
     }
.currency {
    // @include clearfix();
    min-height: 85px;
    padding: 23px 10px;
    border: 1px solid rgba(67, 69, 96, .1);
    border-radius: 12px;
    background-color: #ffffff;
}
img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.pi-tag{
    padding: 10px;
    border-radius: 50%;
    color: rgb(46, 165, 42);
    background-color: hsla(147, 100%, 50%, 0.5);

}
.pi-users{
    padding: 10px;
    border-radius: 50%;
    color: rgb(165, 122, 42);
    background-color: hsla(32, 100%, 50%, 0.5);

}
.pi-comments{
    padding: 10px;
    border-radius: 50%;
    color: rgb(42, 44, 165);
    background-color: hsla(204, 100%, 50%, 0.5);

}
.card{
    border-radius: 12px;
}
*{
    box-sizing: border-box;
}
#img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.border{
    border: 1px solid  #ff4545;;
    border-radius: 12px;
    padding: 10px;
}
.border1{
    border: 1px solid  #1ee2ac;;
    border-radius: 12px;
    padding: 10px;
}
.border2{
    border: 1px solid  #ff7750;
    border-radius: 12px;
    padding: 10px;
}