#alf:hover {
    text-decoration: underline;
}
:host ::ng-deep .p-dropdown {
    width: 14rem;
  }

  #aka{
      margin-top: -30px;
  }

#tom1{
    color: #000; 
}

.btn:hover {
    
    color: white;
  }

.hid {
overflow-x: hidden;
}