<div class="p-grid">
    <div class="p-md-7 p-col-12">
        <div class="container mt-3">
            <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" placeholder="LATEST COMMENTS" optionLabel="name" [showClear]="true"></p-dropdown>
        </div>

        <br>
        <div class="container">
            <span class="p-float-label">
                <div class="p-inputgroup">
                    <input type="text" pInputText placeholder="Write a review">
                    <span class="p-inputgroup-addon"><i class="pi pi-send"></i></span>
        </div>
        </span>
        <p style="font-size: 10px; margin-top: 5px;">250 Charaters left</p>
    </div>



    <div>
        <img src="assets/images/john.jpg" style="width: 50px; height: 50px; border-radius: 100%; display: inline;">
        <span style="margin-left: 10px;">
                <p style=" font-size: 20px; " id="tom1" style="display: inline; cursor: pointer;">@akanmu34</p>
                <p style="margin-left: 80px; margin-top: -15px;">Amazing</p>
            </span>
    </div>
    <div>
        <p style="float: right; margin-top: -60px;">a day ago</p>
    </div>

    <div class="p-d-flex" style="margin-left: 60px; margin-top: -1px;">
        <a href="#" style=" font-size: 8px; " id="tom1" class="nav-item nav-link"><i class="pi pi-thumbs-up"
                    style="font-size: 1rem;"></i>1</a>

        <p-divider layout="vertical"></p-divider>

        <a href="#" style=" font-size: 8px; " id="tom1" class="nav-item nav-link"><i class="pi pi-thumbs-down"
                    style="font-size: 1rem;"></i>0</a>


        <p-divider layout="vertical"></p-divider>

        <a href="#" style=" font-size: 8px;  " id="tom1" class="nav-item nav-link"><i class="pi pi-discord"
                    style="padding-right: 6px;"></i>Reply</a>
    </div>
    <i class="pi pi-ellipsis-v" id="tom1" pTooltip="More Action" tooltipPosition="right" style="font-size: 1rem; float: right; margin-top: -40px;"></i>

    <hr style="margin-top: -2px;">


    <div>
        <img src="assets/images/davido 2.jpg" style="width: 50px; height: 50px; border-radius: 100%; display: inline;">
        <span style="margin-left: 10px;">
                <p style=" font-size: 20px; " id="tom1" style="display: inline; cursor: pointer;">465davido</p>

                <p style="margin-left: 60px; margin-top: -15px;">I Chioma</p>
            </span>
    </div>
    <div>
        <p style="float: right; margin-top: -60px;">2 day ago</p>
    </div>

    <div class="p-d-flex" style="margin-left: 60px; margin-top: -1px;">
        <a href="#" style=" font-size: 8px; " id="tom1" class="nav-item nav-link"><i class="pi pi-thumbs-up"
                    style="font-size: 1rem;"></i>1</a>

        <p-divider layout="vertical"></p-divider>

        <a href="#" style=" font-size: 8px; " id="tom1" class="nav-item nav-link"><i class="pi pi-thumbs-down"
                    style="font-size: 1rem;"></i>0</a>


        <p-divider layout="vertical"></p-divider>

        <a href="#" style=" font-size: 8px; " id="tom1" class="nav-item nav-link"><i class="pi pi-discord"
                    style="padding-right: 6px;"></i>Reply</a>
    </div>

    <i class="pi pi-ellipsis-v" id="tom1" pTooltip="More Action" tooltipPosition="right" style="font-size: 1rem; float: right; margin-top: -40px;"></i>

    <hr style="margin-top: -2px;">

    <div>
        <img src="assets/images/pusi.jpg" style="width: 50px; height: 50px; border-radius: 100%; display: inline;">
        <span style="margin-left: 10px;">
                <p style=" font-size: 20px; " id="tom1" style="display: inline; cursor: pointer;">676@mobo</p>

                <p style="margin-left: 80px; margin-top: -15px;">Love</p>
            </span>
    </div>
    <div>
        <p style="float: right; margin-top: -60px;">6 day ago</p>
    </div>

    <div class="p-d-flex" style="margin-left: 60px; margin-top: -1px;">
        <a href="#" style=" font-size: 8px; " id="tom1" class="nav-item nav-link"><i class="pi pi-thumbs-up"
                    style="font-size: 1rem;"></i>1</a>

        <p-divider layout="vertical"></p-divider>

        <a href="#" style=" font-size: 8px; " id="tom1" class="nav-item nav-link"><i class="pi pi-thumbs-down"
                    style="font-size: 1rem;"></i>0</a>


        <p-divider layout="vertical"></p-divider>

        <a href="#" style=" font-size: 8px; " id="tom1" class="nav-item nav-link"><i class="pi pi-discord"
                    style="padding-right: 6px;"></i>Reply</a>
    </div>
    <i class="pi pi-ellipsis-v" id="tom1" pTooltip="More Action" tooltipPosition="right" style="font-size: 1rem; float: right; margin-top: -40px;"></i>

    <hr style="margin-top: -2px;">

</div>
<div id="listing" class="p-md-5 p-col-12 ">
    <div>
        <div class="p-grid" style="padding-left: 5px;">
            <P><i class="pi pi-calendar"></i>7/07/2021</P>
            <p style="padding-left: 7px;">11,970 LISTEN</p>
            <p style="padding-left: 7px;">13 FAVOURISTES</p>
            <p style="padding-left: 4px;">765 DOWNLOADS</p>
        </div>


        <h5>DESCRIPTION</h5>
        <P> Latinas is a dynamic, upbeat song that unifies Latina women across 25 countries, while shinning equality and love of all Latino & Hispanic cultures. Brand, influencer and media relations that share this philosophy are welcome to create a movement
            of love, respect, passion and above all, the beat of unity.</P>
        <div>

            <div>
                <h5 class="mt-4">CREDIT</h5>
                <p> Songwriters: Alfonso Lugo, Vince Miranda <br> Producer: Alfonso Lugo.</p>

                <p> (C) 2021 Alfonso Lugo. Exclusive worldwide license under Circulate Music.</p>
                <div>

                    <h4 class="mt-4">Want to use this track in a commercial project/video?</h4>

                </div>

                <button pButton pRipple type="button" label="GET AN OFFICIAL LICENCE" class="p-button-raised mt-3"></button>


            </div>
        </div>
    </div>
</div>
</div>