<div style="overflow-x: hidden;">
    <div class="p-grid">
        <div class="p-col-12 p-md-8">
            <div id="play" routerLink="/home/stream-music">
                <div class="p-grid">
                    <div class="p-col-6">
                        <div style="display: inline;">
                            <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                                <!-- <i class="pi pi-play" pTooltip="Play" tooltipPosition="bottom"></i> -->
                                <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                                    width="50px">
                                <div style="margin-left: 10px;">
                                    <div>
                                        <h6>Latinas feat. Vince Miranda -</h6>
                                    </div>
                                    <small class="muted-text">ALFONSO LUGO</small>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-5">
                        <div class="p-d-flex p-jc-end p-p-3 ">

                            <button pButton pRipple type="button" icon="pi pi-heart"
                                class="p-button-rounded p-button-text " id="music"></button>
                            <button pButton pRipple type="button" icon="pi pi-share-alt"
                                class="p-button-rounded p-button-text" id="music"></button>
                            <button pButton pRipple type="button" icon="pi pi-plus "
                                class="p-button-rounded  p-button-text " id="music"></button>
                            <button pButton pRipple type="button" icon="pi pi-download "
                                class="p-button-rounded  p-button-text " id="music"></button>
                        </div>

                    </div>
                </div>

            </div>
            <p-divider></p-divider>
            <div id="play" routerLink="/home/stream-music">
                <div class="p-grid">
                    <div class="p-col-6">
                        <div style="display: inline;">
                            <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                                <!-- <i class="pi pi-play" pTooltip="Play" tooltipPosition="bottom"></i> -->
                                <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                                    width="50px">
                                <div style="margin-left: 10px;">
                                    <div>
                                        <h6>Latinas feat. Vince Miranda -</h6>
                                    </div>
                                    <small class="muted-text">ALFONSO LUGO</small>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-5">
                        <div class="p-d-flex p-jc-end p-p-3 ">

                            <button pButton pRipple type="button" icon="pi pi-heart"
                                class="p-button-rounded p-button-text " id="music"></button>
                            <button pButton pRipple type="button" icon="pi pi-share-alt"
                                class="p-button-rounded p-button-text" id="music"></button>
                            <button pButton pRipple type="button" icon="pi pi-plus "
                                class="p-button-rounded  p-button-text " id="music"></button>
                            <button pButton pRipple type="button" icon="pi pi-download "
                                class="p-button-rounded  p-button-text " id="music"></button>
                        </div>

                    </div>
                </div>

            </div>
            <p-divider></p-divider>
            <div id="play" routerLink="/home/stream-music">
                <div class="p-grid">
                    <div class="p-col-6">
                        <div style="display: inline;">
                            <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                                <!-- <i class="pi pi-play" pTooltip="Play" tooltipPosition="bottom"></i> -->
                                <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                                    width="50px">
                                <div style="margin-left: 10px;">
                                    <div>
                                        <h6>Latinas feat. Vince Miranda -</h6>
                                    </div>
                                    <small class="muted-text">ALFONSO LUGO</small>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-5">
                        <div class="p-d-flex p-jc-end p-p-3 ">

                            <button pButton pRipple type="button" icon="pi pi-heart"
                                class="p-button-rounded p-button-text " id="music"></button>
                            <button pButton pRipple type="button" icon="pi pi-share-alt"
                                class="p-button-rounded p-button-text" id="music"></button>
                            <button pButton pRipple type="button" icon="pi pi-plus "
                                class="p-button-rounded  p-button-text " id="music"></button>
                            <button pButton pRipple type="button" icon="pi pi-download "
                                class="p-button-rounded  p-button-text " id="music"></button>
                        </div>

                    </div>
                </div>

            </div>
            <p-divider></p-divider>
            <div id="play" routerLink="/home/stream-music">
                <div class="p-grid">
                    <div class="p-col-6">
                        <div style="display: inline;">
                            <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                                <!-- <i class="pi pi-play" pTooltip="Play" tooltipPosition="bottom"></i> -->
                                <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                                    width="50px">
                                <div style="margin-left: 10px;">
                                    <div>
                                        <h6>Latinas feat. Vince Miranda -</h6>
                                    </div>
                                    <small class="muted-text">ALFONSO LUGO</small>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-5">
                        <div class="p-d-flex p-jc-end p-p-3 ">

                            <button pButton pRipple type="button" icon="pi pi-heart"
                                class="p-button-rounded p-button-text " id="music"></button>
                            <button pButton pRipple type="button" icon="pi pi-share-alt"
                                class="p-button-rounded p-button-text" id="music"></button>
                            <button pButton pRipple type="button" icon="pi pi-plus "
                                class="p-button-rounded  p-button-text " id="music"></button>
                            <button pButton pRipple type="button" icon="pi pi-download "
                                class="p-button-rounded  p-button-text " id="music"></button>
                        </div>

                    </div>
                </div>

            </div>
            <p-divider></p-divider>
            <div id="play" routerLink="/home/stream-music">
                <div class="p-grid">
                    <div class="p-col-6">
                        <div style="display: inline;">
                            <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                                <!-- <i class="pi pi-play" pTooltip="Play" tooltipPosition="bottom"></i> -->
                                <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                                    width="50px">
                                <div style="margin-left: 10px;">
                                    <div>
                                        <h6>Latinas feat. Vince Miranda -</h6>
                                    </div>
                                    <small class="muted-text">ALFONSO LUGO</small>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-5">
                        <div class="p-d-flex p-jc-end p-p-3 ">

                            <button pButton pRipple type="button" icon="pi pi-heart"
                                class="p-button-rounded p-button-text " id="music"></button>
                            <button pButton pRipple type="button" icon="pi pi-share-alt"
                                class="p-button-rounded p-button-text" id="music"></button>
                            <button pButton pRipple type="button" icon="pi pi-plus "
                                class="p-button-rounded  p-button-text " id="music"></button>
                            <button pButton pRipple type="button" icon="pi pi-download "
                                class="p-button-rounded  p-button-text " id="music"></button>
                        </div>

                    </div>
                </div>

            </div>
            <p-divider></p-divider>
            <div id="play" routerLink="/home/stream-music">
                <div class="p-grid">
                    <div class="p-col-6">
                        <div style="display: inline;">
                            <div style="margin-left: 10px;" class="person-item p-d-flex p-ai-center">
                                <!-- <i class="pi pi-play" pTooltip="Play" tooltipPosition="bottom"></i> -->
                                <img src="https://usercontent.jamendo.com/?type=album&id=448144&width=600&trackid=1870246"
                                    width="50px">
                                <div style="margin-left: 10px;">
                                    <div>
                                        <h6>Latinas feat. Vince Miranda -</h6>
                                    </div>
                                    <small class="muted-text">ALFONSO LUGO</small>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-5">
                        <div class="p-d-flex p-jc-end p-p-3 ">

                            <button pButton pRipple type="button" icon="pi pi-heart"
                                class="p-button-rounded p-button-text " id="music"></button>
                            <button pButton pRipple type="button" icon="pi pi-share-alt"
                                class="p-button-rounded p-button-text" id="music"></button>
                            <button pButton pRipple type="button" icon="pi pi-plus "
                                class="p-button-rounded  p-button-text " id="music"></button>
                            <button pButton pRipple type="button" icon="pi pi-download "
                                class="p-button-rounded  p-button-text " id="music"></button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="p-md-4 p-d-none p-d-lg-inline-flex">
            <div>
                <h6 style="font-size: 13px;">ABOUT THIS PLAYLIST</h6>
                <p style="font-size: 10px;"> Wonder what's fresh and new in Jamendo's music world? Look no further and
                    join us in celebrating great music! Visit us often as we will be updating this playlist regularly!
                </p>
            </div>

        </div>
    </div>
</div>