<div class="box">
    <div class="p-grid">
        <div class="p-col-12">
            <div style="margin-left: 5px; margin-bottom: -22px;">
                <h6>Hot Selections
                   </h6>
                <p class="list"> Playlists handpicked by our music experts</p>
            </div>
        </div> 
        <div class="p-col-6 p-md-3 p-lg-2">
            <p-card id="card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://images.jamendo.com/wallposts/60/960.420_315.jpg?du=1625479318">
                    <div class="play">
                        <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                    </div>
                </ng-template>
                <div class="p-grid">
                    <div class="p-col-6">
                        <p style="font-size: 12px;">Fresh & New<br> 39 TRACKS</p>
                    </div>
                    <div class="p-col-6">
                        <div style="text-align: right;">
                            <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
                        </div>

                    </div>

                </div>

            </p-card>
        </div> 
        <div class="p-col-6 p-md-3 p-lg-2">
            <p-card id="card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://images.jamendo.com/wallposts/60/960.420_315.jpg?du=1625479318">
                    <div class="play">
                        <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                    </div>
                </ng-template>

                <div class="p-grid">
                    <div class="p-col-6">
                        <p style="font-size: 12px;">Fresh & New<br> 39 TRACKS</p>
                    </div>
                    <div class="p-col-6">
                        <div style="text-align: right;">
                            <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
                        </div>

                    </div>

                </div>

            </p-card>
        </div>
        <div class="p-col-6 p-md-3 p-lg-2">
            <p-card id="card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://images.jamendo.com/wallposts/60/960.420_315.jpg?du=1625479318">
                    <div class="play">
                        <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                    </div>
                </ng-template>


                <div class="p-grid">
                    <div class="p-col-6">
                        <p style="font-size: 12px;">Fresh & New<br> 39 TRACKS</p>
                    </div>
                    <div class="p-col-6">
                        <div style="text-align: right;">
                            <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
                        </div>

                    </div>

                </div>
            </p-card>
        </div>
        <div class="p-col-6 p-md-3 p-lg-2">
            <p-card id="card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://images.jamendo.com/wallposts/60/960.420_315.jpg?du=1625479318">
                    <div class="play">
                        <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                    </div>
                </ng-template>



                <div class="p-grid">
                    <div class="p-col-6">
                        <p style="font-size: 12px;">Fresh & New<br> 39 TRACKS</p>
                    </div>
                    <div class="p-col-6">
                        <div style="text-align: right;">
                            <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
                        </div>

                    </div>

                </div>
            </p-card>
        </div>
        <div class="p-col-6 p-md-3 p-lg-2">
            <p-card>
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://images.jamendo.com/wallposts/60/960.420_315.jpg?du=1625479318">
                    <div class="play">
                        <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                    </div>
                </ng-template>



                <div class="p-grid">
                    <div class="p-col-6">
                        <p style="font-size: 12px;">Fresh & New<br> 39 TRACKS</p>
                    </div>
                    <div class="p-col-6">
                        <div style="text-align: right;">
                            <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
                        </div>

                    </div>

                </div>
            </p-card>
        </div>
        <div class="p-col-6 p-md-3 p-lg-2">
            <p-card>
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://images.jamendo.com/wallposts/60/960.420_315.jpg?du=1625479318">
                    <div class="play">
                        <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                    </div>
                </ng-template>



                <div class="p-grid">
                    <div class="p-col-6">
                        <p style="font-size: 12px;">Fresh & New<br> 39 TRACKS</p>
                    </div>
                    <div class="p-col-6">
                        <div style="text-align: right;">
                            <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
                        </div>

                    </div>

                </div>
            </p-card>
        </div>
        <div class="p-col-6 p-md-3 p-lg-2">
            <p-card id="card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://images.jamendo.com/wallposts/60/960.420_315.jpg?du=1625479318">
                    <div class="play">
                        <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                    </div>
                </ng-template>



                <div class="p-grid">
                    <div class="p-col-6">
                        <p style="font-size: 12px;">Fresh & New<br> 39 TRACKS</p>
                    </div>
                    <div class="p-col-6">
                        <div style="text-align: right;">
                            <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
                        </div>

                    </div>

                </div>
            </p-card>
        </div>
        <div class="p-col-6 p-md-3 p-lg-2">
            <p-card id="card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://images.jamendo.com/wallposts/60/960.420_315.jpg?du=1625479318">
                    <div class="play">
                        <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                    </div>
                </ng-template>



                <div class="p-grid">
                    <div class="p-col-6">
                        <p style="font-size: 12px;">Fresh & New<br> 39 TRACKS</p>
                    </div>
                    <div class="p-col-6">
                        <div style="text-align: right;">
                            <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
                        </div>

                    </div>

                </div>
            </p-card>
        </div>
        <div class="p-col-6 p-md-3 p-lg-2">
            <p-card id="card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://images.jamendo.com/wallposts/60/960.420_315.jpg?du=1625479318">
                    <div class="play">
                        <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                    </div>
                </ng-template>



                <div class="p-grid">
                    <div class="p-col-6">
                        <p style="font-size: 12px;">Fresh & New<br> 39 TRACKS</p>
                    </div>
                    <div class="p-col-6">
                        <div style="text-align: right;">
                            <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
                        </div>

                    </div>

                </div>
            </p-card>
        </div>
        <div class="p-col-6 p-md-3 p-lg-2">
            <p-card id="card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://images.jamendo.com/wallposts/60/960.420_315.jpg?du=1625479318">
                    <div class="play">
                        <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                    </div>
                </ng-template>



                <div class="p-grid">
                    <div class="p-col-6">
                        <p style="font-size: 12px;">Fresh & New<br> 39 TRACKS</p>
                    </div>
                    <div class="p-col-6">
                        <div style="text-align: right;">
                            <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
                        </div>

                    </div>

                </div>
            </p-card>
        </div>
        <div class="p-col-6 p-md-3 p-lg-2">
            <p-card id="card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://images.jamendo.com/wallposts/60/960.420_315.jpg?du=1625479318">
                    <div class="play">
                        <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                    </div>
                </ng-template>



                <div class="p-grid">
                    <div class="p-col-6">
                        <p style="font-size: 12px;">Fresh & New<br> 39 TRACKS</p>
                    </div>
                    <div class="p-col-6">
                        <div style="text-align: right;">
                            <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
                        </div>

                    </div>

                </div>
            </p-card>
        </div>
        <div class="p-col-6 p-md-3 p-lg-2">
            <p-card id="card">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://images.jamendo.com/wallposts/60/960.420_315.jpg?du=1625479318">
                    <div class="play">
                        <i class="pi pi-play" id="play" pTooltip="Play" tooltipPosition="bottom"></i>
                    </div>
                </ng-template>



                <div class="p-grid">
                    <div class="p-col-6">
                        <p style="font-size: 12px;">Fresh & New<br> 39 TRACKS</p>
                    </div>
                    <div class="p-col-6">
                        <div style="text-align: right;">
                            <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
                        </div>

                    </div>

                </div>
            </p-card>
        </div>
       
    </div>
</div>
<!-- <button #btn type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)" ></button> -->
<p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>














<!-- <div class="p-col-6 p-md-3 p-lg-2">
    <p-card   id="card">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://images.jamendo.com/wallposts/60/960.420_315.jpg?du=1625479318">
            <div class="play">
                <i class="pi pi-play" id="play"></i> 
            </div>
           
        </ng-template>
        <div class="p-grid">
            <div class="p-col-6">
             <p style="font-size: 12px;">Fresh & New<br> 39 TRACKS</p>
            </div>
            <div class="p-col-6">
                <div style="text-align: right;">
                     <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
                </div>
            
            </div>
            
        </div>
               
    </p-card >
</div> -->