<div class="p-grid">
    <div class="p-col-12 p-md-12 p-mt-3">
        <div class="p-d-flex p-flex-wrap">
            <div class="p-mr-2 p-mb-2">
                <p-dropdown [options]="assetStatus" optionLabel="label" optionValue="value" placeholder="BEST OF"
                    id="drop"></p-dropdown>
            </div>
            <div class="p-mr-2 p-mb-2">
                <p-dropdown [options]="assetStatus" optionLabel="label" optionValue="value" placeholder="ALL GENRES"
                    id="drop"></p-dropdown>
            </div>
            <div class="p-mr-2 p-mb-2">
                <p-dropdown [options]="assetStatus" optionLabel="label" optionValue="value" placeholder="ALL COUNTRIES"
                    id="drop"></p-dropdown>
            </div>
        </div>

    </div>
</div>

<div class="p-grid">
    <div class="p-lg-3 p-col-6">
        <div>
            <img src="assets/images/boy.jpg" alt="Alfonso Lugo" style="width:200px">
        </div>
        <div>
            <p class="name">Alfonso Lugo</p>
            <p class="country">USA</p>
        </div>
    </div>

    <div class="p-lg-3 p-col-6">
        <div>
            <img src="assets/images/2nd.jpg" alt="Alfonso Lugo" style="width:200px">
        </div>
        <div>
            <p class="name">Alexey Anisimov</p>
            <p class="country">RUS</p>
        </div>
    </div>

    <div class="p-lg-3 p-col-6">
        <div>
            <img src="assets/images/3rd.jpg" alt="Alfonso Lugo" style="width:200px">
        </div>
        <div>
            <p class="name">Kinematic</p>
            <p class="country">AUS</p>
        </div>
    </div>

    <div class="p-lg-3 p-col-6">
        <div>
            <img src="assets/images/4th.jpg" alt="Alfonso Lugo" style="width:200px">
        </div>
        <div>
            <p class="name">Bessonn&sa</p>
            <p class="country">RUS</p>
        </div>
    </div>

    <div class="p-col-6 p-lg-3">
        <div>
            <img src="assets/images/5th.jpg" alt="Alfonso Lugo" style="width:200px">
        </div>
        <div>
            <p class="name">James Bell</p>
            <p class="country">GBR</p>
        </div>
    </div>

    <div class="p-col-6 p-lg-3">
        <div>
            <img src="assets/images/6th.jpg" alt="Alfonso Lugo" style="width:200px">
        </div>
        <div>
            <p class="name">Paul Werner</p>
            <p class="country">DEU</p>
        </div>
    </div>

    <div class="p-col-6 p-lg-3">
        <div>
            <img src="assets/images/7th.jpg" alt="Alfonso Lugo" style="width:200px">
        </div>
        <div>
            <p class="name">Joystock</p>
            <p class="country">FRA</p>
        </div>
    </div>

    <div class="p-col-6 p-lg-3">
        <div>
            <img src="assets/images/8th.jpg" alt="Alfonso Lugo" style="width:200px">
        </div>
        <div>
            <p class="name">CHARIOTS</p>
            <p class="country">GBR</p>
        </div>
    </div>
</div>